<div class="row">
  <div class="col-lg-4">
    <tc-card>
      <div id="amchart-1" [style.width.%]="100" [style.height.px]="300"></div>
    </tc-card>
  </div>
  <div class="col-lg-4">
    <tc-card>
      <div id="amchart-2" [style.width.%]="100" [style.height.px]="300"></div>
    </tc-card>
  </div>
  <div class="col-lg-4">
    <tc-card>
      <div id="amchart-3" [style.width.%]="100" [style.height.px]="300"></div>
    </tc-card>
  </div>

  <div class="col-xl-8">
    <tc-card [title]="'What we doing'">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolor ducimus est excepturi illo itaque
        modi quis repudiandae totam vitae. Accusamus beatae consectetur dolorum pariatur sapiente. Ad architecto at aut
        et ex facilis fuga, laboriosam, magnam modi obcaecati officia officiis, omnis praesentium quam quas reiciendis
        rerum ullam velit veritatis vitae.</p>

      <div class="row">
        <div class="col-md-6">
          <p class="mb-1"><strong>Wordpress</strong></p>
          <mat-progress-bar mode="determinate" [value]="90" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>Magento</strong></p>
          <mat-progress-bar mode="determinate" [value]="80" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>Opencart</strong></p>
          <mat-progress-bar mode="determinate" [value]="60" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>Drupal</strong></p>
          <mat-progress-bar mode="determinate" [value]="30" class="mb-3"></mat-progress-bar>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-6">
          <p class="mb-1"><strong>Angular</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="98" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>React</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="85" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>Vue.js</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="40" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>Backbone.js</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="38" class="mb-3"></mat-progress-bar>
          <div class="clearfix"></div>
        </div>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at corporis deleniti dicta doloremque
        doloribus, ea ex excepturi fugiat labore minima possimus quia repellat similique soluta ut voluptate! Ad et hic
        incidunt molestiae mollitia officiis omnis, perspiciatis quaerat qui quibusdam.</p>
    </tc-card>
  </div>
  <div class="col-xl-4">
    <tc-card [tcBgColor]="''" class="chart-card">
      <div class="d-flex align-items-end">
        <div class="chart">
          <canvas
            baseChart
            [data]="pieChartData"
            [colors]="pieChartColors"
            [labels]="pieChartLabels"
            [legend]="false"
            [options]="pieChartOptions"
            [chartType]="pieChartType"
            width="80"
            height="80"
          ></canvas>
        </div>
        <div class="info">
          <div class="title"><strong>930</strong> <small>Resolved</small></div>
          <div class="small">More than 70% resolved issues</div>
        </div>
      </div>
    </tc-card>

    <tc-card [tcBgColor]="''" class="chart-card">
      <div class="d-flex align-items-end">
        <div class="chart">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [colors]="doughnutChartColors"
            [labels]="doughnutChartLabels"
            [legend]="false"
            [options]="doughnutChartOptions"
            [chartType]="doughnutChartType"
            width="80"
            height="80"
          ></canvas>
        </div>
        <div class="info">
          <div class="title"><strong>466</strong> <small>Unresolved</small></div>
          <div class="small">Less than 30% unresolved issues</div>
        </div>
      </div>
    </tc-card>

    <tc-card [tcBgColor]="''" class="chart-card">
      <div class="d-flex align-items-end">
        <div class="chart">
          <canvas
            baseChart
            [data]="polarAreaChartData"
            [colors]="polarAreaChartColors"
            [labels]="polarAreaChartLabels"
            [legend]="false"
            [options]="polarAreaChartOptions"
            [chartType]="polarAreaChartType"
            width="80"
            height="80"
          ></canvas>
        </div>
        <div class="info">
          <div class="title"><strong>1,547</strong> <small>Issues</small></div>
          <div class="small">8 issues are unassigned</div>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col-md-4">
    <tc-card [title]="'Recent activities'" [outline]="true" class="mb-md-0">
      <tc-v-timeline [showYears]="false" [align]="'left'" [data]="timelineData"></tc-v-timeline>
    </tc-card>
  </div>

  <div class="col-md-4">
    <tc-card [title]="'Last sales'" class="mb-md-0">
      <div class="table-responsive mb-3">
        <table class="table table-sm">
          <tbody>
          <tr>
            <td>Samsung Galaxy S8</td>
            <td class="text-right">
              <tc-badge [view]="'success'" [tcShape]="0">1</tc-badge>
            </td>
          </tr>
          <tr>
            <td>Meizu M3</td>
            <td class="text-right">
              <tc-badge [view]="'success'" [tcShape]="0">1</tc-badge>
            </td>
          </tr>
          <tr>
            <td>Meizu Pro 6</td>
            <td class="text-right">
              <tc-badge [view]="'info'" [tcShape]="0">5</tc-badge>
            </td>
          </tr>
          <tr>
            <td>Apple iPhone SE</td>
            <td class="text-right">
              <tc-badge [view]="'warning'" [tcShape]="0">7</tc-badge>
            </td>
          </tr>
          <tr>
            <td>iPhone 6</td>
            <td class="text-right">
              <tc-badge [view]="'success'" [tcShape]="0">1</tc-badge>
            </td>
          </tr>
          <tr>
            <td>iPhone 7</td>
            <td class="text-right">
              <tc-badge [view]="'success'" [tcShape]="0">1</tc-badge>
            </td>
          </tr>
          <tr>
            <td>Huawei P8</td>
            <td class="text-right">
              <tc-badge [view]="'info'" [tcShape]="0">4</tc-badge>
            </td>
          </tr>
          <tr>
            <td>Ipad Mini</td>
            <td class="text-right">
              <tc-badge [view]="'info'" [tcShape]="0">15</tc-badge>
            </td>
          </tr>
          <tr>
            <td>Ipad Pro</td>
            <td class="text-right">
              <tc-badge [view]="'success'" [tcShape]="0">6</tc-badge>
            </td>
          </tr>
          <tr>
            <td>Xiaomi Mi Band 2</td>
            <td class="text-right">
              <tc-badge [view]="'error'" [tcShape]="0">10</tc-badge>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <button tc-button block="true" type="accent" outline="true" lineStyle="dashed" beforeIcon="fa fa-shopping-basket">Look all</button>
    </tc-card>
  </div>
  <div class="col-md-4">
    <tc-chat [activeUser]="activeUser" [messages]="messages" [style.height.px]="474"></tc-chat>
  </div>
</div>
