@import '~assets/scss/variables';

$_module-rem: $module-rem;
$_size: $_module-rem * 4;

:host {
  align-items: center;
  background: main-palette(300);
  border-radius: 50%;
  color: main-palette-contrast(300);
  display: flex;
  font-size: 20px;
  font-weight: 500;
  height: $_size;
  justify-content: center;
  line-height: 1;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  width: $_size;

  img {
    border-radius: inherit;
    max-height: 100%;
    max-width: 100%;
  }
  .initials {
    border-radius: inherit;
    padding-top: .15em;
  }
  .avatar-loader {
    align-items: center;
    border-radius: inherit;
    display: flex;
    font-size: inherit;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
  }
  .avatar-badge {
    background: accent-palette(500);
    border-radius: 50%;
    height: 8px;
    position: absolute;
    right: 6%;
    top: 6%;
    width: 8px;
  }
  &.avatar-loading {
    img,
    .initials {
      visibility: hidden;
    }
    .avatar-loader {
      visibility: visible;
    }
  }
}
