@import '~assets/scss/variables';

$_module-rem: $module-rem;
$_border-width: 1px;
$_shape: 500px;
$_fz: .75rem;
$_lh: 1;
$_padding: calc(#{$_module-rem} / 2 - #{$_border-width}) calc(#{$_module-rem} - #{$_border-width});

$_fz-xs: $_fz * .7;
$_lh-xs: $_module-rem / $_fz-xs;
$_padding-xs: 0 calc(#{$_module-rem} / 2 - #{$_border-width});

$_fz-sm: $_fz * .8;
$_lh-sm: $_module-rem / $_fz-sm;
$_padding-sm: calc(#{$_module-rem} / 4 - #{$_border-width}) calc(#{$_module-rem} - #{$_border-width});

$_fz-lg: $_fz * 1.2;
$_lh-lg: $_module-rem * 2 / $_fz-lg;
$_padding-lg: calc(#{$_module-rem / 2} - #{$_border-width}) calc(#{$_module-rem} * 2 - #{$_border-width});

$_types: (
  default: (
    bg: main-palette(500),
    color: main-palette-contrast(500)
  ),
  accent: (
    bg: accent-palette(500),
    color: accent-palette-contrast(500)
  ),
  success: (
    bg: $success-color,
    color: $success-contrast
  ),
  info: (
    bg: $info-color,
    color: $info-contrast
  ),
  warning: (
    bg: $warning-color,
    color: $warning-contrast
  ),
  error: (
    bg: $error-color,
    color: $error-contrast
  )
);
:host {
  align-items: center;
  border: 1px solid transparent;
  border-radius: $_shape;
  display: inline-flex;
  font-size: $_fz;
  line-height: $_lh;
	padding: $_padding;
  position: relative;
  vertical-align: top;

  &.badge-xs {
    font-size: $_fz-xs;
    line-height: $_lh-xs;
    padding: $_padding-xs;
  }
  &.badge-sm {
    font-size: $_fz-sm;
    line-height: $_lh-sm;
    padding: $_padding-sm;
  }
  &.badge-lg {
    font-size: $_fz-lg;
    line-height: $_lh-lg;
    padding: $_padding-lg;
  }
  @each $_type, $_color in $_types {
    &.#{$_type} {
      background: map-get($_color, bg);
      border-color: map-get($_color, bg);
      color: map-get($_color, color);

      &.badge-outline {
        background: transparent !important;
        color: map-get($_color, bg);
      }
    }
  }
  .arrow {
    border: 6px solid transparent;
    height: 0;
    position: absolute;
    width: 0;

    &.arrow-top {
      border-bottom-color: inherit;
      bottom: 100%;
      left: 50%;
      margin-left: -6px;
    }
    &.arrow-right {
      border-left-color: inherit;
      left: 100%;
      margin-top: -6px;
      top: 50%;
    }
    &.arrow-bottom {
      border-top-color: inherit;
      left: 50%;
      margin-left: -6px;
      top: 100%;
    }
    &.arrow-left {
      border-right-color: inherit;
      margin-top: -6px;
      right: 100%;
      top: 50%;
    }
  }
  .mat-icon & {
    bottom: 100%;
    font-family: $main-ff;
    left: 100%;
    margin: 0 0 -10px -10px;
    padding-left: $_module-rem / 1.5;
    padding-right: $_module-rem / 1.5;
    position: absolute;
    z-index: 1;

    &.top-left {
      left: auto;
      margin: 0 -10px -10px 0;
      right: 100%;
    }
    &.bottom-left {
      bottom: auto;
      left: auto;
      margin: -10px -10px 0 0;
      right: 100%;
      top: 100%;
    }
    &.bottom-right {
      bottom: auto;
      margin: -10px 0 0 -10px;
      top: 100%;
    }
  }
}
