@import './mixins';

// Material palettes:
// $mat-red, $mat-pink, $mat-purple, $mat-deep-purple, $mat-indigo, $mat-blue, $mat-light-blue, $mat-cyan, $mat-teal,
// $mat-green, $mat-light-green, $mat-lime, $mat-yellow, $mat-amber, $mat-orange, $mat-deep-orange, $mat-brown,
// $mat-grey, $mat-blue-grey

//Main palette
$main-palette: (
  50 : #e5e6e9,
  100 : #bec0c8,
  200 : #9296a3,
  300 : #666c7e,
  400 : #464d63,
  500 : #252d47,
  600 : #212840,
  700 : #1b2237,
  800 : #161c2f,
  900 : #0d1120,
  A100 : #6177ff,
  A200 : #2e4cff,
  A400 : #0024fa,
  A700 : #0020e0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
@function main-palette($key: $main-palette) {
  @return map-get($main-palette, $key);
}
@function main-palette-contrast($key: $main-palette) {
  @return map-get(map-get($main-palette, contrast), $key);
}

//Accent palette
$accent-palette: (
  50 : #e4f2fe,
  100 : #bce0fb,
  200 : #90cbf9,
  300 : #64b6f7,
  400 : #42a6f5,
  500 : #2196f3,
  600 : #1d8ef1,
  700 : #1883ef,
  800 : #1479ed,
  900 : #0b68ea,
  A100 : #ffffff,
  A200 : #e1ecff,
  A400 : #aeccff,
  A700 : #95bcff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
@function accent-palette($key: $accent-palette) {
  @return map-get($accent-palette, $key);
}
@function accent-palette-contrast($key: $accent-palette) {
  @return map-get(map-get($accent-palette, contrast), $key);
}

$success-color: #81C784;
$success-contrast: #000;
$info-color: #64B5F6;
$info-contrast: #000;
$warning-color: #FFB74D;
$warning-contrast: #000;
$error-color: #e24d4d;
$error-contrast: #fff;

//Main
$main-bg: #f8f8f8;
$main-text-color: #000;
$main-fs: 12px;
$main-ff: Verdana, sans-serif;
$main-fw: 400;
$module: 11px;
$main-lh: ($module * 2 / $main-fs);
$module-rem: ($module / $main-fs) * 1rem;
$shape: 3px;
$shadow: 0px 5px 5px -4px rgba(#000,.25);
$shadow-hover: 0px 8px 24px rgba(#000,.12);

//Second
$second-ff: 'Josefin Slab', serif;

//Animationng serve
$animation: ease-in-out;

//Media
$max543 : only screen and (max-width: 543px);
$min544 : only screen and (min-width: 544px);
$max767 : only screen and (max-width: 767px);
$min768 : only screen and (min-width: 768px);
$max991 : only screen and (max-width: 991px);
$min992 : only screen and (min-width: 992px);
$max1199 : only screen and (max-width: 1199px);
$min1200 : only screen and (min-width: 1200px);

//Headers
$headers-ff: $second-ff;
$headers-fw: 700;

//Top navbar
$navbar-height: $module-rem * 5;
$navbar-bg: main-palette(500);
$navbar-color: main-palette-contrast(500);
$navbar-icon-color: main-palette-contrast(500);
$navbar-icon-color-hover: accent-palette(300);
$navbar-dropdown-bg: #fff;
$navbar-dropdown-bg-hover: main-palette(500);
$navbar-dropdown-color: main-palette(500);
$navbar-dropdown-color-hover: main-palette-contrast(500);
$navbar-dropdown-dark-bg: main-palette(300);

//Second navbar
$vertical-navbar-bg: main-palette(50);
$vertical-navbar-accent: accent-palette(500);
$vertical-navbar-width: $module-rem * 22;
$vertical-navbar-compress-width: $module-rem * 6;

//Menu
$menu: (
  accent-color: accent-palette(500),

  //item
  item-color: main-palette(500),
  item-hover-color: accent-palette(500),
  item-active-color: accent-palette(500),
  item-group-color: main-palette(300),
  item-bg: transparent,
  item-hover-bg: transparent,
  item-active-bg: transparent,
  item-group-bg-compress: main-palette(200),

  //separator
  separator: main-palette(300),

  //icon
  icon-color: inherit,
  icon-hover-color: inherit,
  icon-active-color: accent-palette(500),
  icon-br: 50%,

  //badge
  badge-color: rgba(accent-palette(500),.2),
  badge-bg: accent-palette(500),

  //sub
  sub-bg: transparent,
  sub-separator: main-palette(300)
);

//Footer
$footer-bg: main-palette(500);
$footer-color: main-palette-contrast(500);

//Card
$card-header-bg: main-palette(50);
$card-header-color: main-palette-contrast(50);

//Preloader
$loader-overlay-bg: #fff;
$loader-colors: (
  1: main-palette(300),
  2: accent-palette(500),
  3: main-palette(900),
  4: main-palette(900),
  5: main-palette(900)
);

