@import 'variables';
@import '~@angular/material/theming';
// Plus imports for other layout-components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($main-palette);
$candy-app-accent:  mat-palette($accent-palette);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: $main-ff,
  $headline: mat-typography-level(4.2142857rem, 1.13, $headers-fw, $second-ff),
  $body-1: mat-typography-level($main-fs, $main-lh, $main-fw)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

// Override the typography in the core CSS.
@include mat-core($custom-typography);
