<tc-card [title]="'Basic'">
  <mat-progress-bar value="40"></mat-progress-bar>
</tc-card>

<tc-card [title]="'Mode'">
  <mat-progress-bar value="40" mode="indeterminate" class="mb-4"></mat-progress-bar>
  <mat-progress-bar value="40" mode="determinate" class="mb-4"></mat-progress-bar>
  <mat-progress-bar value="40" mode="buffer" class="mb-4"></mat-progress-bar>
  <mat-progress-bar value="40" mode="query"></mat-progress-bar>
</tc-card>

<tc-card [title]="'Theming'" class="mb-0">
  <mat-progress-bar value="40" color="primary" class="mb-4"></mat-progress-bar>
  <mat-progress-bar value="60" color="accent" class="mb-4"></mat-progress-bar>
  <mat-progress-bar value="80" color="warn"></mat-progress-bar>
</tc-card>
