@import '~assets/scss/variables';

:host {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  transition:
    background .2s $animation,
    border .2s $animation,
    color .2s $animation;

  &.active {
    &:not(:only-child) {
      z-index: 9999;
    }
  }
  .marker {
    background: $info-color;
    border-radius: 50%;
    height: 6px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 6px;

    .rtl & {
      left: 5px;
      right: auto;
    }
  }
  .avatar {
    border-radius: 50%;
    height: 40px;
    overflow: hidden;
    width: 40px;
  }
  .name {
    font-size: 1rem;
    padding-left: $module-rem;
    white-space: nowrap;
  }
}
