<div class="row">
  <div class="col-md-8">
    <tc-card [title]="'Column chart'">
      <div id="amchart-1" [style.width.%]="100" [style.height.px]="400"></div>
    </tc-card>

    <tc-card [title]="'Lines chart'">
      <div id="amchart-2" [style.width.%]="100" [style.height.px]="400"></div>
    </tc-card>

    <tc-card [title]="'What we doing'" class="mb-md-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolor ducimus est excepturi illo itaque
        modi quis repudiandae totam vitae. Accusamus beatae consectetur dolorum pariatur sapiente. Ad architecto at aut
        et ex facilis fuga, laboriosam, magnam modi obcaecati officia officiis, omnis praesentium quam quas reiciendis
        rerum ullam velit veritatis vitae.</p>

      <div class="row">
        <div class="col-md-6">
          <p class="mb-1"><strong>Wordpress</strong></p>
          <mat-progress-bar mode="determinate" [value]="90" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>Magento</strong></p>
          <mat-progress-bar mode="determinate" [value]="80" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>Opencart</strong></p>
          <mat-progress-bar mode="determinate" [value]="60" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>Drupal</strong></p>
          <mat-progress-bar mode="determinate" [value]="30" class="mb-3"></mat-progress-bar>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-6">
          <p class="mb-1"><strong>Angular</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="98" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>React</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="85" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>Vue.js</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="40" class="mb-3"></mat-progress-bar>

          <p class="mb-1"><strong>Backbone.js</strong></p>
          <mat-progress-bar mode="determinate" color="accent" [value]="38" class="mb-3"></mat-progress-bar>
          <div class="clearfix"></div>
        </div>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cumque dicta earum, iure maiores neque
        nesciunt officia quisquam ullam.</p>
    </tc-card>
  </div>

  <div class="col-md-4">
    <tc-card [title]="'Recent activities'" [outline]="true">
      <tc-v-timeline [showYears]="false" [align]="'left'" [data]="timelineData"></tc-v-timeline>
    </tc-card>

    <tc-card [tcColor]="'#fff'" [bgImg]="'assets/content/card-4.jpg'" class="info-card">
      <div class="title text-uppercase">Orders</div>
      <div class="count">2,145</div>

      <div class="d-flex align-items-end">
        <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+17%</tc-badge>
        <small class="ml-1 mr-1 text-nowrap text-truncate">from previous period</small>
      </div>
    </tc-card>

    <tc-card [tcColor]="'#fff'" [bgImg]="'assets/content/card-5.jpg'" class="info-card">
      <div class="title text-uppercase">Revenue</div>
      <div class="count">$ 50,24</div>
      <small>11750</small>
    </tc-card>

    <tc-card [tcColor]="'#fff'" [bgImg]="'assets/content/card-6.jpg'" class="info-card">
      <div class="title text-uppercase">Products</div>
      <div class="count">2,543</div>
      <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+210</tc-badge>
    </tc-card>

    <tc-card [tcColor]="'#fff'" [bgImg]="'assets/content/card-7.jpg'" class="info-card">
      <div class="title text-uppercase">Sold</div>
      <div class="count">1,005</div>
      <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+24%</tc-badge>
    </tc-card>

    <tc-card [title]="'Last uploaded files'" class="mb-0">
      <tc-file [size]="'small'" [type]="'jpg'" [title]="'bulb'" [image]="'assets/content/file-1.jpg'"></tc-file>
      <tc-file [size]="'small'" [type]="'doc'" [title]="'resume'"></tc-file>
      <tc-file [size]="'small'" [type]="'jpg'" [title]="'main-image'" [image]="'assets/content/file-2.jpg'"></tc-file>
      <tc-file [size]="'small'" [type]="'jpg'" [title]="'watch'" [image]="'assets/content/file-3.jpg'"></tc-file>
      <tc-file [size]="'small'" [type]="'jpg'" [title]="'camera'" [image]="'assets/content/file-4.jpg'"></tc-file>
      <tc-file [size]="'small'" [type]="'pdf'" [title]="'documentation'"></tc-file>
      <tc-file [size]="'small'" [type]="'mp4'" [title]="'video-tutorial'"></tc-file>
      <tc-file [size]="'small'" [type]="'jpg'" [title]="'best-work'" [image]="'assets/content/file.jpg'"></tc-file>
      <tc-file [size]="'small'" [type]="'jpg'" [title]="'smart'" [image]="'assets/content/file-5.jpg'"></tc-file>
      <tc-file [size]="'small'" [type]="'zip'" [title]="'theme'"></tc-file>
    </tc-card>
  </div>
</div>
