<h2 mat-dialog-title>User Group</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          
          <mat-form-field>
            <input matInput placeholder="Group Name" formControlName="group_name" id="group_name">
            <mat-error *ngIf="hasError('group_name', 'required')">[group_name] is required</mat-error>
            <mat-error *ngIf="hasError('group_name', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Group Description" formControlName="group_desc" id="group_desc">
            <mat-error *ngIf="hasError('group_desc', 'maxlength')">You have more than [60] characters</mat-error>
          </mat-form-field>
        </div>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Save</button>
</mat-dialog-actions>
