<div class="row">
    <div class="col-md-12">
        <a href="/#/vertical/eqptmachinestate/{{eqpt_id}}"><button [size]="'lg'" tc-button [beforeIcon]="'sli-graph'" [square]="true">State Machine</button></a>
        <a href="/#/vertical/equipmentsetting/{{eqpt_id}}"><button [size]="'lg'"  tc-button [beforeIcon]="'sli-wrench'" [square]="true">Setting</button></a>
        <a href="/#/vertical/eqptconfig/{{eqpt_id}}"><button [size]="'lg'" [view]="'accent'" tc-button [beforeIcon]="'sli-settings'" [square]="true">Configuration</button></a>
        <a href="/#/vertical/eqptlogger/{{eqpt_id}}"><button [size]="'lg'"  tc-button [beforeIcon]="'sli-book-open'" [square]="true">Logger</button></a>
        <a href="/#/vertical/eqptupload/{{eqpt_id}}"><button [size]="'lg'"  tc-button [beforeIcon]="'sli-cloud-upload'" [square]="true">Deployment</button></a>
    </div>
</div>

<tc-card [title]="'Equipment Configuration: '+(data.eqpt_id?data.eqpt_id:'')">
    <div class="row">
        <div class="col-md-2">
            <mat-select name="section"  [(ngModel)]="data.section" (selectionChange)="change_section($event)">
                <mat-option *ngFor="let style of listSection" [value]="style.section_id">
                    {{ style.section_id }}
                </mat-option>
            </mat-select>
        </div>
        <div class="col-md-3">
            <mat-select name="version"  [(ngModel)]="data.version" (selectionChange)="change_version($event)">
                <mat-option *ngFor="let style of listVersion" [value]="style.version">
                    Ver {{ style.version }} - {{ style.state }}
                </mat-option>
            </mat-select>
        </div>
        <div class="col-md-3">
            <button tc-button [beforeIcon]="(btnStateText=='Request Approve'?'icon-sli-target':'icon-sli-note')" (click)="approve()">{{ btnStateText }}</button>
        </div>
        <div class="col-md-4 text-right">
            <button mat-raised-button color="accent" (click)="search()"> <mat-icon>search</mat-icon> Refresh</button>
            <button mat-raised-button color="primary" (click)="openDialogEqptConfig('New', null)"> <mat-icon>note_add</mat-icon> New</button>
        </div>
    </div>

  <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="section_id">
          <mat-header-cell *matHeaderCellDef>Session</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.section_id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="order_no">
          <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.order_no }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="key">
          <mat-header-cell *matHeaderCellDef>Key</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.key }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.value }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="commented">
        <mat-header-cell *matHeaderCellDef>Comment</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.commented }}</mat-cell>
        </ng-container>
      <ng-container matColumnDef="seq_id">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button tc-button [beforeIcon]="'sli-note'" [view]="'accent'" [square]="true" [outline]="false" [tcShape]="'8%'" (click)="openDialogEqptConfig('Update',row)"></button>
            <button tc-button [beforeIcon]="'sli-close'" [view]="'error'" [square]="true" [outline]="false" [tcShape]="'8%'" (click)="openDialogEqptConfig('Delete',row)"></button>
        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator
    #paginator
    [length]="database.data.length"
    [pageIndex]="0"
    [pageSize]="100"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
</tc-card>

<tc-card [title]="'Equipment Connection Setting: '+(data.eqpt_id?data.eqpt_id:'')">
    <mat-table #table2 [dataSource]="dataSource2">
      
      <ng-container matColumnDef="eqpt_id">
          <mat-header-cell *matHeaderCellDef>EQPT_ID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.eqpt_id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="section_id">
          <mat-header-cell *matHeaderCellDef>Session</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.section_id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="connection_mode">
          <mat-header-cell *matHeaderCellDef>Mode</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.connection_mode }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="connection_type">
          <mat-header-cell *matHeaderCellDef>Connection Type</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.connection_type }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="connection_host">
          <mat-header-cell *matHeaderCellDef>Connection Host</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.connection_host }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="connection_port">
          <mat-header-cell *matHeaderCellDef>Connection Port</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.connection_port }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="environment">
          <mat-header-cell *matHeaderCellDef>Enviroment</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.environment }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef>UserId</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.username }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="password_enc">
          <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.password_enc }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="config">
          <mat-header-cell *matHeaderCellDef>Config</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.config }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updated_by">
          <mat-header-cell *matHeaderCellDef>UPDATED_BY</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.updated_by }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef>TIMESTAMP</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.timestamp }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="seq_id">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button tc-button [afterIcon]="'sli-note'" [view]="'accent'" [square]="true" [outline]="false" [tcShape]="'8%'" (click)="openDialogEqptConnection('Update',row)"></button>
        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
  </mat-table>

  <mat-paginator
    #paginator2
    [length]="database2.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10]"
  ></mat-paginator>
</tc-card>
<!-- 
<tc-card [title]="'Equipment MES Setting: '+(eqpt_id?eqpt_id:'')">
  <mat-table #table [dataSource]="dataSource3">
    <ng-container matColumnDef="environment">
        <mat-header-cell *matHeaderCellDef>Enviroment</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.environment }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="section_id">
        <mat-header-cell *matHeaderCellDef>Session</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.section_id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="connection_mode">
        <mat-header-cell *matHeaderCellDef>Connection Mode</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.connection_mode }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="connection_host">
        <mat-header-cell *matHeaderCellDef>Connection Host</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.connection_host }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="connection_port">
        <mat-header-cell *matHeaderCellDef>Connection Port</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.connection_port }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="default_userid">
        <mat-header-cell *matHeaderCellDef>User Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.default_userid }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="default_password">
        <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.default_password }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="connection_type">
        <mat-header-cell *matHeaderCellDef>Connection Type</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.connection_type }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="updated_by">
        <mat-header-cell *matHeaderCellDef>Updated By</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.updated_by }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.timestamp }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="seq_id">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button tc-button [afterIcon]="'sli-note'" [view]="'accent'" [square]="true" [outline]="false" [tcShape]="'8%'" (click)="openDialogMes('Update',row)"></button>
        </mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
</mat-table>

<mat-paginator
  #paginator
  [length]="database3.data.length"
  [pageIndex]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10]"
></mat-paginator>
</tc-card> -->