<h2 mat-dialog-title>Equipment Connection Detail</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="section_id" formControlName="section_id" id="section_id">
            <mat-error *ngIf="hasError('section_id', 'required')">[section_id] is required</mat-error>
            <mat-error *ngIf="hasError('section_id', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="connection_mode" formControlName="connection_mode" id="connection_mode">
            <mat-error *ngIf="hasError('connection_mode', 'required')">[connection_mode] is required</mat-error>
            <mat-error *ngIf="hasError('connection_mode', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="connection_type" formControlName="connection_type" id="connection_type">
            <mat-error *ngIf="hasError('connection_type', 'required')">[connection_type] is required</mat-error>
            <mat-error *ngIf="hasError('connection_type', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="connection_host" formControlName="connection_host" id="connection_host">
            <mat-error *ngIf="hasError('connection_host', 'required')">[connection_host] is required</mat-error>
            <mat-error *ngIf="hasError('connection_host', 'maxlength')">You have more than [20] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="connection_port" formControlName="connection_port" id="connection_port">
            <mat-error *ngIf="hasError('connection_port', 'required')">[connection_port] is required</mat-error>
            <mat-error *ngIf="hasError('connection_port', 'maxlength')">You have more than [10] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="environment" formControlName="environment" id="environment">
            <mat-error *ngIf="hasError('environment', 'required')">[environment] is required</mat-error>
            <mat-error *ngIf="hasError('environment', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="username" formControlName="username" id="username">
            <mat-error *ngIf="hasError('username', 'required')">[username] is required</mat-error>
            <mat-error *ngIf="hasError('username', 'maxlength')">You have more than [20] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="password_enc" formControlName="password_enc" id="password_enc">
            <mat-error *ngIf="hasError('password_enc', 'required')">[password_enc] is required</mat-error>
            <mat-error *ngIf="hasError('password_enc', 'maxlength')">You have more than [20] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="config" formControlName="config" id="config">
            <mat-error *ngIf="hasError('config', 'required')">[config] is required</mat-error>
            <mat-error *ngIf="hasError('config', 'maxlength')">You have more than [20] characters</mat-error>
          </mat-form-field>
        </div>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Save</button>
</mat-dialog-actions>
