<h2 mat-dialog-title>MES Setting Detail</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="environment" formControlName="environment" id="environment">
            <!-- <mat-hint align="end">Not more then [30] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('environment', 'required')">[environment] is required</mat-error>
            <mat-error *ngIf="hasError('environment', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="section_id" formControlName="section_id" id="section_id">
            <!-- <mat-hint align="end">Not more then [30] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('section_id', 'required')">[section_id] is required</mat-error>
            <mat-error *ngIf="hasError('section_id', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="connection_mode" formControlName="connection_mode" id="connection_mode">
            <!-- <mat-hint align="end">Not more then [30] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('connection_mode', 'required')">[connection_mode] is required</mat-error>
            <mat-error *ngIf="hasError('connection_mode', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="connection_host" formControlName="connection_host" id="connection_host">
            <!-- <mat-hint align="end">Not more then [20] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('connection_host', 'required')">[connection_host] is required</mat-error>
            <mat-error *ngIf="hasError('connection_host', 'maxlength')">You have more than [20] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="connection_port" formControlName="connection_port" id="connection_port">
            <!-- <mat-hint align="end">Not more then [10] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('connection_port', 'required')">[connection_port] is required</mat-error>
            <mat-error *ngIf="hasError('connection_port', 'maxlength')">You have more than [10] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="default_userid" formControlName="default_userid" id="default_userid">
            <!-- <mat-hint align="end">Not more then [30] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('default_userid', 'required')">[default_userid] is required</mat-error>
            <mat-error *ngIf="hasError('default_userid', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="default_password" formControlName="default_password" id="default_password">
            <!-- <mat-hint align="end">Not more then [30] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('default_password', 'required')">[default_password] is required</mat-error>
            <mat-error *ngIf="hasError('default_password', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="connection_type" formControlName="connection_type" id="connection_type">
            <mat-error *ngIf="hasError('connection_type', 'required')">[connection_type] is required</mat-error>
            <mat-error *ngIf="hasError('connection_type', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
        </div>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Save</button>
</mat-dialog-actions>
