<h2 mat-dialog-title>Request Approve</h2>
<form autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="row">
      <div class="col-md-12">
        <mat-select name="section"  [(ngModel)]="local_data.approved_by" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let row of listApprovedBy" [value]="row.user_name">
              {{ row.user_name }}
          </mat-option>
        </mat-select>

        <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="local_data.commented" name="commented" style="width:100%; height:100px"></textarea>
        
      </div>
    </div>
</form>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  cdkFocusInitial (click)="doAction()">Submit</button>
</mat-dialog-actions>
