:host {
  display: table-cell;
  height: 100%;
  overflow: hidden;
  width: 100%;

  ::ng-deep .tc-card {
    height: 100%;
    min-height: 400px;
    padding: 0;

    .card-content {
      border: 0 !important;
      height: 100%;
      padding: 0 !important;
    }
  }
  .map-box {
    width: 100%;
    height: 100%;
  }
}
