@import '../../../../assets/scss/variables';

:host {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;

  .tc-card {
    margin: 0 auto;
    max-width: 400px;

    form {
      button {
        width: 100%;
      }
      .additional-info {
        background: rgba(#000,.1);
        margin: $module-rem * 2 (-($module-rem * 2)) (-($module-rem * 2));
        padding: $module-rem $module-rem * 2;
      }
    }
  }
}
