<tc-card [title]="'Create your account'" [align]="'center'">
  <form>
    <mat-form-field>
      <input matInput placeholder="Email address" value="">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" value="">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirm Password" value="">
    </mat-form-field>

    <div class="text-left mb-module">
      <mat-checkbox>
        <span class="text-wrap">I have read and agree to the terms of service.</span>
      </mat-checkbox>
    </div>

    <button tc-button [view]="'accent'" [block]="true">Sign Up</button>

    <div class="additional-info">
      Already have an account?
      <a href="#" [routerLink]="['../', 'sign-in']">Sign in</a>
    </div>
  </form>
</tc-card>
