<tc-card [title]="'Basic'">
  <mat-form-field>
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Input with a custom ErrorStateMatcher'">
  <mat-form-field>
    <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Auto-resizing textarea'">
  <mat-form-field>
    <mat-label>Font size</mat-label>
    <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
      <mat-option value="10px">10px</mat-option>
      <mat-option value="12px">12px</mat-option>
      <mat-option value="14px">14px</mat-option>
      <mat-option value="16px">16px</mat-option>
      <mat-option value="18px">18px</mat-option>
      <mat-option value="20px">20px</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field [style.fontSize]="fontSize.value">
    <mat-label>Autosize textarea</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
    ></textarea>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Input with a clear button'">
  <mat-form-field>
    <input matInput type="text" placeholder="Clearable input" [(ngModel)]="clearValue">
    <button mat-button *ngIf="clearValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Input with error messages'">
  <form>
    <mat-form-field>
      <input matInput placeholder="Email" [formControl]="emailFormControl2">
      <mat-error *ngIf="emailFormControl2.hasError('email') && !emailFormControl2.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl2.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</tc-card>

<tc-card [title]="'Inputs in a form'">
  <form>
    <mat-form-field>
      <input matInput placeholder="Company (disabled)" disabled value="Google">
    </mat-form-field>

    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <input matInput placeholder="Long Last Name That Will Be Truncated">
        </mat-form-field>
      </div>
    </div>

    <p>
      <mat-form-field>
        <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Address 2"></textarea>
      </mat-form-field>
    </p>

    <div class="row">
      <div class="col-12 col-md-4">
        <mat-form-field>
          <input matInput placeholder="City">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <mat-form-field>
          <input matInput placeholder="State">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <mat-form-field>
          <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
          <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </form>
</tc-card>

<tc-card [title]="'Input with hints'">
  <mat-form-field>
    <input matInput #message maxlength="256" placeholder="Message">
    <mat-hint align="start"><strong>Don't disclose personal info</strong></mat-hint>
    <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Inputs with prefixes and suffixes'" class="mb-0">
  <mat-form-field>
    <span matPrefix>+1 &nbsp;</span>
    <input type="tel" matInput placeholder="Telephone">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
</tc-card>
