<h5 class="mt-0">Simple</h5>
<tc-breadcrumb [menu]="breadcrumbs"></tc-breadcrumb>
<br>

<h5>Simple with custom separator</h5>
<tc-breadcrumb [menu]="breadcrumbs" [separator]="'&#8594;'"></tc-breadcrumb>
<br>
<tc-breadcrumb [menu]="breadcrumbs" [separator]="'&#187;'"></tc-breadcrumb>
<br>

<h5>Custom style</h5>
<tc-breadcrumb [menu]="breadcrumbs" [style]="'custom1'"></tc-breadcrumb>
<br>

<h5>Custom style 2</h5>
<tc-breadcrumb [menu]="breadcrumbs" [style]="'custom2'"></tc-breadcrumb>
<br>

<h5>With icon</h5>
<tc-breadcrumb [menu]="breadcrumbsIcons"></tc-breadcrumb>
<br>
<tc-breadcrumb [menu]="breadcrumbsIcons" [style]="'custom1'"></tc-breadcrumb>
<br>
<tc-breadcrumb [menu]="breadcrumbsIcons" [style]="'custom2'"></tc-breadcrumb>
