<tc-card [title]="'Basic'">
  <mat-checkbox>Check me!</mat-checkbox>
</tc-card>

<tc-card [title]="'Configurable'">
  <h5 class="mt-0">Checkbox configuration</h5>

  <div class="demo-list">
    <mat-checkbox [(ngModel)]="checked">Checked</mat-checkbox>
    <mat-checkbox [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
  </div>

  <div class="mb-2 mt-3 d-flex align-items-end">
    <label>Align:</label>

    <mat-radio-group [(ngModel)]="labelPosition" class="ml-2 mr-2">
      <mat-radio-button value="after" class="ml-1 mr-1">After</mat-radio-button>
      <mat-radio-button value="before" class="ml-1 mr-1">Before</mat-radio-button>
    </mat-radio-group>
  </div>

  <div>
    <mat-checkbox [(ngModel)]="disabled">Disabled</mat-checkbox>
  </div>

  <h5>Result</h5>

  <div>
    <mat-checkbox
      [(ngModel)]="checked"
      [(indeterminate)]="indeterminate"
      [labelPosition]="labelPosition"
      [disabled]="disabled"
    >
      I'm a checkbox
    </mat-checkbox>
  </div>
</tc-card>

<tc-card [title]="'Theming'" class="mb-0">
  <div class="row">
    <div class="col col-auto">
      <mat-checkbox [checked]="true" color="primary">Primary</mat-checkbox>
    </div>
    <div class="col col-auto">
      <mat-checkbox [checked]="true" color="accent">Accent</mat-checkbox>
    </div>
    <div class="col col-auto">
      <mat-checkbox [checked]="true" color="warn">Warning</mat-checkbox>
    </div>
  </div>
</tc-card>
