<tc-card [title]="'Material inputs'">
  <div class="row">
    <div class="col col-12 col-md-6">
      <mat-form-field>
        <mat-icon matPrefix>perm_identity</mat-icon>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </div>

    <div class="col col-12 col-md-6">
      <mat-form-field>
        <input matInput placeholder="Placeholder" value="Value">
      </mat-form-field>
    </div>
  </div>
</tc-card>

<tc-card [title]="'Material textareas'">
  <div class="row">
    <div class="col col-12 col-md-6">
      <mat-form-field>
        <textarea matInput placeholder="Placeholder" rows="5"></textarea>
      </mat-form-field>
    </div>

    <div class="col col-12 col-md-6">
      <mat-form-field>
        <textarea matInput placeholder="Placeholder" rows="5" value="Value"></textarea>
      </mat-form-field>
    </div>
  </div>
</tc-card>

<tc-card [title]="'Material selects'">
  <div class="row">
    <div class="col col-12 col-md-6">
      <mat-form-field>
        <mat-label>Placeholder</mat-label>
        <mat-select>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col col-12 col-md-6">
      <mat-form-field>
        <mat-label>Placeholder</mat-label>
        <select matNativeControl>
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
        </select>
      </mat-form-field>
    </div>
  </div>
</tc-card>

<tc-card [title]="'Material autocompletes'">
  <div class="row">
    <div class="col col-12 col-md-6">
      <mat-form-field>
        <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto1" [formControl]="control1">
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img aria-hidden [src]="state.flag" height="25">
            <span class="ml-2 mr-2">
          <span>{{ state.name }}</span> | <small>Population: {{ state.population }}</small>
        </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="col col-12 col-md-6">
      <mat-form-field>
        <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto2" [formControl]="control2">
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates2 | async" [value]="state.name">
            <img aria-hidden [src]="state.flag" height="25">
            <span class="ml-2 mr-2">
          <span>{{ state.name }}</span> | <small>Population: {{ state.population }}</small>
        </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</tc-card>

<tc-card [title]="'Material datepickers'">
  <div class="row">
    <div class="col col-12 col-md-6">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col col-12 col-md-6">
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Choose a date" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</tc-card>

<tc-card [title]="'Material checkboxes'">
  <div class="demo-list">
    <mat-checkbox [checked]="true">Option 1</mat-checkbox>
    <mat-checkbox [checked]="false">Option 2</mat-checkbox>
    <mat-checkbox [checked]="false">Option 3</mat-checkbox>
  </div>
</tc-card>

<tc-card [title]="'Material radio buttons'">
  <mat-radio-group>
    <mat-radio-button value="1" [checked]="true">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
    <mat-radio-button value="3">Option 3</mat-radio-button>
  </mat-radio-group>
</tc-card>

<tc-card [title]="'Material slides'">
  <div class="demo-list">
    <mat-slide-toggle [checked]="true">Option 1</mat-slide-toggle>
    <mat-slide-toggle [checked]="false">Option 2</mat-slide-toggle>
    <mat-slide-toggle [checked]="false">Option 3</mat-slide-toggle>
  </div>
</tc-card>

<tc-card [title]="'Material sliders'">
  <div class="row">
    <div class="col col-12 col-md-6">
      <mat-slider class="w-100"></mat-slider>
    </div>

    <div class="col col-12 col-md-6">
      <mat-slider value="5" [max]="20" [min]="0" class="w-100"></mat-slider>
    </div>
  </div>
</tc-card>

<tc-card [title]="'Material buttons'">
  <div class="demo-list">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
  </div>
</tc-card>

<tc-card [title]="'Theme buttons'">
  <div class="demo-list">
    <button tc-button>Default</button>
    <button tc-button [view]="'accent'">Accent</button>
    <button tc-button [view]="'success'">Success</button>
    <button tc-button [view]="'info'">Info</button>
    <button tc-button [view]="'warning'">Warning</button>
    <button tc-button [view]="'error'">Error</button>
  </div>
</tc-card>

<tc-card [title]="'Theme ratings'" class="mb-0">
  <div class="row">
    <div class="col col-12 col-md-6 mb-4 mb-md-0">
      <tc-rating></tc-rating>
    </div>

    <div class="col col-12 col-md-6">
      <tc-rating [value]="4"></tc-rating>
    </div>
  </div>
</tc-card>
