@import '~assets/scss/variables';

$_module-rem: $module-rem;
$_animation: $animation;
$_icon-fz: $main-lh * 1rem;
$_color: (
  default: #c1c1c1,
  hover: #ffeb3d,
  active: #faa110
);

:host {
	display: flex;
  font-size: $_icon-fz;
  margin: 0 (-$_module-rem / 4);

	.icon {
    color: map-get($_color, default);
    cursor: pointer;
    display: block;
		font-size: inherit;
    font-style: normal;
		margin: 0 ($_module-rem / 4);
		transition:
      border .2s $_animation,
      color .2s $_animation;

    &.number {
      border: 2px solid map-get($_color, default);
      min-width: $_module-rem * 3;
      padding: calc(#{$_module-rem} / 2 - 2px);
      text-align: center;
    }
    &.hover {
      color: map-get($_color, hover);

      &.number {
        border-color: map-get($_color, hover);
      }
    }
    &.active {
      color: map-get($_color, active);

      &.number {
        border-color: map-get($_color, active);
      }
    }
	}
  &.rating-numbered {
    font-size: 1rem;
  }
  &.rating-disabled {
    .icon {
      cursor: default;
    }
  }
}
