<h2 mat-dialog-title>Equipment</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="Equipment ID" formControlName="eqpt_id" id="eqpt_id">
            <mat-error *ngIf="hasError('eqpt_id', 'required')">[Equipment ID] is required</mat-error>
            <mat-error *ngIf="hasError('eqpt_id', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Equipment Type" formControlName="eqpt_type" id="eqpt_type">
            <mat-error *ngIf="hasError('eqpt_type', 'required')">[Equipment Type] is required</mat-error>
            <mat-error *ngIf="hasError('eqpt_type', 'maxlength')">You have more than [20] characters</mat-error>
          </mat-form-field>
        </div>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Save</button>
</mat-dialog-actions>
