<tc-card [title]="'Search'">
    <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <input matInput #search_id placeholder="Search by ID" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button mat-raised-button color="primary" (click)="search(search_id.value,'')"><mat-icon>search</mat-icon> Search</button>
      <button mat-raised-button color="warning" (click)="openDialog('New', null)"> New</button>
    </div>
  </div>
  </tc-card>
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="seq_id">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row?.seq_id }}</mat-cell>
    </ng-container>
      <ng-container matColumnDef="eqpt_id">
          <mat-header-cell *matHeaderCellDef>Equipment ID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.eqpt_id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="eqpt_type">
          <mat-header-cell *matHeaderCellDef>Equipment Type</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.eqpt_type }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updated_by">
          <mat-header-cell *matHeaderCellDef>Updated By</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.updated_by }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <div class="demo-list">
            <button tc-button [afterIcon]="'sli-note'" [view]="'accent'" [square]="true" [tcShape]="'8%'" (click)="openDialog('Update',row)" title="Edit"></button>

            <button tc-button [afterIcon]="'sli-close'" [view]="'error'" [square]="true" [tcShape]="'8%'" (click)="openDialog('Delete',row)" title="Delete"></button>
            
            <button tc-button [beforeIcon]="'sli-settings'" [square]="true" (click)="goto('eqptconfig',row)" title="View Equipment Setting">Configuration</button>
            <!-- <button tc-button [afterIcon]="'sli-graph'" [view]="'info'" [square]="true" (click)="goto('eqptmachinestate',row)" title="View State Machine"></button> -->
            </div>
        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator
    #paginator
    [length]="database.data.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>