<tc-card [title]="'Basic'">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Start date'">
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Selected value'">
  <mat-form-field>
    <input matInput [matDatepicker]="picker3" placeholder="Angular forms" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker4" placeholder="Angular forms (w/ deserialization)" [formControl]="serializedDate">
    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
    <mat-datepicker #picker4></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker5" placeholder="Value binding" [value]="date.value">
    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
    <mat-datepicker #picker5></mat-datepicker>
  </mat-form-field>
</tc-card>

<tc-card [title]="'With min & max validation'">
  <mat-form-field>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker6" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
    <mat-datepicker #picker6></mat-datepicker>
  </mat-form-field>
</tc-card>

<tc-card [title]="'With filter validation'">
  <mat-form-field>
    <input matInput [matDatepickerFilter]="filter" [matDatepicker]="picker7" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
    <mat-datepicker #picker7></mat-datepicker>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Input and change events'">
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker8"
      placeholder="Input & change events"
      (dateInput)="addEvent('input', $event)"
      (dateChange)="addEvent('change', $event)"
    >
    <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
    <mat-datepicker #picker8></mat-datepicker>
  </mat-form-field>

  <div>
    <div *ngFor="let e of events">{{e}}</div>
  </div>
</tc-card>

<tc-card [title]="'Disabled'">
  <mat-form-field>
    <input matInput [matDatepicker]="picker9" placeholder="Completely disabled" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
    <mat-datepicker #picker9></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker10" placeholder="Popup disabled">
    <mat-datepicker-toggle matSuffix [for]="picker10" disabled></mat-datepicker-toggle>
    <mat-datepicker #picker10></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker11" placeholder="Input disabled" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
    <mat-datepicker #picker11 disabled="false"></mat-datepicker>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Touch UI'">
  <mat-form-field>
    <input matInput [matDatepicker]="picker12" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker12></mat-datepicker>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Open method'">
  <mat-form-field>
    <input matInput [matDatepicker]="picker13" placeholder="Choose a date">
    <mat-datepicker #picker13></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button (click)="picker13.open()" color="accent">Open</button>
</tc-card>

<tc-card [title]="'With different locale'" class="mb-0">
  <mat-form-field>
    <input matInput [matDatepicker]="picker14" placeholder="Different locale">
    <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
    <mat-datepicker #picker14></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button (click)="french()" color="accent">Dynamically switch to French</button>
</tc-card>
