<h2 mat-dialog-title>NexgenecEqptAction Detail</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="action_name" formControlName="action_name" id="action_name">
            <!-- <mat-hint align="end">Not more then [50] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('action_name', 'required')">[action_name] is required</mat-error>
            <mat-error *ngIf="hasError('action_name', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="action_desc" formControlName="action_desc" id="action_desc">
            <!-- <mat-hint align="end">Not more then [150] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('action_desc', 'required')">[action_desc] is required</mat-error>
            <mat-error *ngIf="hasError('action_desc', 'maxlength')">You have more than [150] characters</mat-error>
          </mat-form-field>
        </div>
        
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Save</button>
</mat-dialog-actions>
