<tc-card [title]="'Search'">
    <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <input matInput #search_id placeholder="Search" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button mat-raised-button color="primary" (click)="search(search_id.value, '')"><mat-icon>search</mat-icon> Search</button>
      <button mat-raised-button color="warning" (click)="openDialog('New', null)"> New</button>
    </div>
  </div>
  </tc-card>
  <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="action_name">
          <mat-header-cell *matHeaderCellDef>ACTION_NAME</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.action_name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action_desc">
          <mat-header-cell *matHeaderCellDef>ACTION_DESC</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.action_desc }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="seq_id">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button tc-button [afterIcon]="'sli-note'" [view]="'accent'" [square]="true" [outline]="true" [tcShape]="'8%'" (click)="openDialog('Update',row)">Edit</button>
            <button tc-button [afterIcon]="'sli-close'" [view]="'error'" [square]="true" [outline]="true" [tcShape]="'8%'" (click)="openDialog('Delete',row)">Delete</button>
        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator
    #paginator
    [length]="database.data.length"
    [pageIndex]="0"
    [pageSize]="100"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>