<div class="row">
  <div class="col-lg-6">
    <tc-card title="Line Chart">
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"></canvas>
    </tc-card>
  </div>

  <div class="col-lg-6">
    <tc-card title="Bar Chart">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"></canvas>
    </tc-card>
  </div>

  <div class="col-lg-6">
    <tc-card title="Doughnut Chart">
      <canvas
        baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"></canvas>
    </tc-card>
  </div>

  <div class="col-lg-6">
    <tc-card title="Radar Chart">
      <canvas
        baseChart
        [datasets]="radarChartData"
        [labels]="radarChartLabels"
        [chartType]="radarChartType"></canvas>
    </tc-card>
  </div>

  <div class="col-lg-6">
    <tc-card title="Pie Chart" class="mb-lg-0">
      <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"></canvas>
    </tc-card>
  </div>

  <div class="col-lg-6">
    <tc-card title="Polar Area Chart" class="mb-0">
      <canvas
        baseChart
        [data]="polarAreaChartData"
        [labels]="polarAreaChartLabels"
        [legend]="polarAreaLegend"
        [chartType]="polarAreaChartType"
        [options]="polarAreaChartOptions"></canvas>
    </tc-card>
  </div>
</div>
