<tc-card [title]="'Basic'">
  <h5 class="mt-0">Basic mat-select</h5>
  <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h5 class="mt0">Basic native select</h5>
  <mat-form-field>
    <mat-label>Cars</mat-label>
    <select matNativeControl required>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Select with 2-way value binding'">
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <div>You selected: <strong>{{ selected }}</strong></div>
</tc-card>

<tc-card [title]="'Select in a form'">
  <form>
    <h5 class="mt-0">Mat select</h5>
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select [(ngModel)]="selectedFood" name="food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>Selected food: <strong>{{ selectedFood }}</strong></p>

    <h5>Native html select</h5>
    <mat-form-field>
      <mat-label>Favorite car</mat-label>
      <select matNativeControl [(ngModel)]="selectedCar" name="car">
        <option value="" selected></option>
        <option *ngFor="let car of cars" [value]="car.value">
          {{ car.viewValue }}
        </option>
      </select>
    </mat-form-field>
    <div>Selected car: <strong>{{ selectedCar }}</strong></div>
  </form>
</tc-card>

<tc-card [title]="'Select with form field features'">
  <h5 class="mt-0">Mat select</h5>
  <mat-form-field>
    <mat-label>Favorite animal</mat-label>
    <mat-select [formControl]="animalControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let animal of animals" [value]="animal">
        {{ animal.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
    <mat-hint>{{ animalControl.value?.sound }}</mat-hint>
  </mat-form-field>

  <h5>Native html select</h5>
  <mat-form-field>
    <mat-label>Select your car (required)</mat-label>
    <select matNativeControl required [formControl]="selectFormControl">
      <option label="--select something --"></option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    <mat-error *ngIf="selectFormControl.hasError('required')">
      This field is required
    </mat-error>
    <mat-hint>You can pick up your favorite car here</mat-hint>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Disabled select'">
  <p>
    <mat-checkbox [formControl]="disableSelect">Disable select</mat-checkbox>
  </p>

  <h5 class="mt-0">Mat select</h5>
  <mat-form-field>
    <mat-label>Choose an option</mat-label>
    <mat-select [disabled]="disableSelect.value">
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <h5>Native html select</h5>
  <mat-form-field>
    <mat-label>Choose an option</mat-label>
    <select matNativeControl [disabled]="disableSelect.value">
      <option value="" selected></option>
      <option value="volvo">Volvo</option>
      <option value="saab" disabled>Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Select with reset option'">
  <h5 class="mt-0">Mat select</h5>
  <mat-form-field>
    <mat-label>State</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
    </mat-select>
  </mat-form-field>

  <h5>Native html select</h5>
  <mat-form-field>
    <mat-label>Select your car</mat-label>
    <select matNativeControl id="mySelectId">
      <option value="" disabled selected></option>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Select with option groups'">
  <h5 class="mt-0">Mat select</h5>
  <mat-form-field>
    <mat-label>Pokemon</mat-label>
    <mat-select [formControl]="pokemonControl">
      <mat-option>-- None --</mat-option>
      <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name" [disabled]="group.disabled">
        <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
          {{ pokemon.viewValue }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <h5>Native html select</h5>
  <mat-form-field>
    <mat-label>Cars</mat-label>
    <select matNativeControl>
      <optgroup label="Swedish Cars">
        <option value="volvo">volvo</option>
        <option value="saab">Saab</option>
      </optgroup>
      <optgroup label="German Cars">
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </optgroup>
    </select>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Select with multiple selection'">
  <mat-form-field>
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
    </mat-select>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Select with custom trigger text'">
  <mat-form-field>
    <mat-select placeholder="Toppings" [formControl]="toppings2" multiple>
      <mat-select-trigger>
        {{ toppings.value ? toppings.value[0] : '' }}
        <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
        (+{{ toppings.value.length - 1 }} {{ toppings.value?.length === 2 ? 'other' : 'others' }})
      </span>
      </mat-select-trigger>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
    </mat-select>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Select with no option ripple'">
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select disableRipple>
      <mat-option value="1">Option 1</mat-option>
      <mat-option value="2">Option 2</mat-option>
      <mat-option value="3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Select with custom panel styling'" class="mb-0">
  <mat-form-field>
    <mat-label>Panel color</mat-label>
    <mat-select [formControl]="panelColor" panelClass="example-panel-{{ panelColor.value }}">
      <mat-option value="red">Red</mat-option>
      <mat-option value="green">Green</mat-option>
      <mat-option value="blue">Blue</mat-option>
    </mat-select>
  </mat-form-field>
</tc-card>
