<h2 mat-dialog-title>Link Detail</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="Trigger" formControlName="Trigger" id="Trigger">
            <mat-error *ngIf="hasError('Trigger', 'required')">Trigger is required</mat-error>
            <mat-error *ngIf="hasError('Trigger', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Function" formControlName="Function" id="Function">
            <mat-error *ngIf="hasError('Function', 'required')">Trigger is required</mat-error>
            <mat-error *ngIf="hasError('Function', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="GuardCond" formControlName="GuardCond" id="GuardCond">
            <mat-error *ngIf="hasError('GuardCond', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="GuardVal" formControlName="GuardVal" id="GuardVal">
            <mat-error *ngIf="hasError('GuardVal', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <select matNativeControl formControlName="isPass" id="isPass">
                <option value="PASS">PASS</option>
                <option value="FAIL">FAIL</option>
              </select>
          </mat-form-field>
        </div>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()" [disabled]="true">Save</button>
</mat-dialog-actions>
