<h2 mat-dialog-title>{{local_data.isGroup==true?"Group State Detail":"Node State Detail"}}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="text" formControlName="text" id="text" [readonly]="true">
            <mat-error *ngIf="hasError('text', 'required')">[text] is required</mat-error>
            <mat-error *ngIf="hasError('text', 'maxlength')">You have more than [50] characters</mat-error>
            <mat-error *ngIf="hasError('text', 'existnodename')">Exist node name</mat-error>
          </mat-form-field>
          <mat-select formControlName="group_state" id="group_state" [disabled]="local_data.isGroup==true" [hidden]="local_data.isGroup==true">
            <mat-option *ngFor="let style of list_Group" [value]="style.value">
                {{ style.value }}
            </mat-option>
          </mat-select>
          <mat-form-field [hidden]="local_data.isGroup==true">
            <input matInput placeholder="new group" formControlName="group_state_text" id="group_state_text" [disabled]="local_data.isGroup==true">
            <mat-error *ngIf="hasError('text', 'required')">[text] is required</mat-error>
            <mat-error *ngIf="hasError('text', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field [hidden]="local_data.isGroup==true">
            <select matNativeControl formControlName="category" id="category">
                <option value="">Normal</option>
                <option value="Start">Start</option>
                <option value="End">End</option>
              </select>
          </mat-form-field>
        </div>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Save</button>
</mat-dialog-actions>
