::-webkit-scrollbar {
    width: 30px;
  }

#myOverviewDiv {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 350px;
    left: 10px;
    background-color: #f2f2f2;
    z-index: 300; /* make sure its in front */
    border: solid 1px #7986cb;
}