<div class="row">
    <div class="col-md-12">
        <a href="/#/vertical/eqptmachinestate/{{eqpt_id}}"><button [size]="'lg'" [view]="'accent'"  tc-button [beforeIcon]="'sli-graph'" [square]="true">State Machine</button></a>
        <a href="/#/vertical/equipmentsetting/{{eqpt_id}}"><button [size]="'lg'"  tc-button [beforeIcon]="'sli-wrench'" [square]="true">Setting</button></a>
        <a href="/#/vertical/eqptconfig/{{eqpt_id}}"><button [size]="'lg'" tc-button [beforeIcon]="'sli-settings'" [square]="true">Configuration</button></a>
        <a href="/#/vertical/eqptlogger/{{eqpt_id}}"><button [size]="'lg'" tc-button [beforeIcon]="'sli-book-open'" [square]="true">Logger</button></a>
        <a href="/#/vertical/eqptupload/{{eqpt_id}}"><button [size]="'lg'"  tc-button [beforeIcon]="'sli-cloud-upload'" [square]="true">Deployment</button></a>
    </div>
  </div>

<tc-card [title]="'Equipment State Machine: '+(eqpt_id?eqpt_id:'')">
<form novalidate>
    <div class="row">
        <div class="col-md-2">
            <mat-select name="statemachine_id"  [(ngModel)]="state_machine.statemachine_id" (selectionChange)="change_statemachine_id($event)">
                <mat-option *ngFor="let style of listDiagram" [value]="style.statemachine_id">
                    {{ style.statemachine_id }}
                </mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-select name="view_mode"  [(ngModel)]="state_machine.view_mode" (selectionChange)="change_view_mode($event)">
                <mat-option *ngFor="let style of listMode" [value]="style">
                    {{ style }}
                </mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-radio-group [(ngModel)]="state_machine.view_type" [ngModelOptions]="{standalone: true}">
                <mat-radio-button value="good" [checked]="state_machine.view_type=='good'" (change)="change_view_type($event)">Pass</mat-radio-button>
                <mat-radio-button value="all" [checked]="state_machine.view_type=='all'" (change)="change_view_type($event)">All</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-md-4">
            <mat-radio-group [(ngModel)]="state_machine.view_function" [ngModelOptions]="{standalone: true}">
                <mat-radio-button value="overview"   [checked]="state_machine.view_function=='overview'" (change)="change_view($event)" >Overview</mat-radio-button>
                <mat-radio-button value="simple"   [checked]="state_machine.view_function=='simple'" (change)="change_view($event)">Simple</mat-radio-button>
                <mat-radio-button value="full"  [checked]="state_machine.view_function=='full'" (change)="change_view($event)">Full</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-md-2">
            <button mat-raised-button color="accent" (click)="saveModel()">{{btnTextSaving}}</button>
        </div>
    </div>
</form>

</tc-card>
<div id="idDiagramDiv" style="background: whitesmoke;width: 100%;height: 100%;border: 1px solid black;scrollbar-width: 30px;"></div>
<div id="myOverviewDiv"></div>