<h2 mat-dialog-title>NexgenecUser Detail</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="user_name" formControlName="user_name" id="user_name">
            <mat-error *ngIf="hasError('user_name', 'required')">[user_name] is required</mat-error>
            <mat-error *ngIf="hasError('user_name', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="full_name" formControlName="full_name" id="full_name">
            <mat-error *ngIf="hasError('full_name', 'required')">[full_name] is required</mat-error>
            <mat-error *ngIf="hasError('full_name', 'maxlength')">You have more than [70] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Admin User</mat-label>
            <mat-select formControlName="is_superuser" id="is_superuser">
              <mat-option value="Y">Y</mat-option>
              <mat-option value="N">N</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Is Actived</mat-label>
            <mat-select formControlName="is_active" id="is_active">
              <mat-option value="Y">Y</mat-option>
              <mat-option value="N">N</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Save</button>
</mat-dialog-actions>
