<tc-card [title]="'Search'">
    <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <input matInput #search_id placeholder="Search" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button mat-raised-button color="primary" (click)="search(search_id.value, '')"><mat-icon>search</mat-icon> Search</button>
      <button mat-raised-button color="warning" (click)="openDialog('New', null)"> New</button>
    </div>
  </div>
  </tc-card>
  <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="user_name">
          <mat-header-cell *matHeaderCellDef>LoginId</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.user_name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="full_name">
          <mat-header-cell *matHeaderCellDef>Fullname</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.full_name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updated_by">
          <mat-header-cell *matHeaderCellDef>Update by</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.updated_by }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef>Timesmate</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.timestamp }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="is_staff">
          <mat-header-cell *matHeaderCellDef>Staff?</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.is_staff }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="is_superuser">
          <mat-header-cell *matHeaderCellDef>IsAdmin</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.is_superuser }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="is_active">
          <mat-header-cell *matHeaderCellDef>Is Active</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.is_active }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="last_login">
          <mat-header-cell *matHeaderCellDef>Last Login</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.last_login }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="date_joined">
          <mat-header-cell *matHeaderCellDef>Date Joined</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.date_joined }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="password">
          <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.password }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="seq_id">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button tc-button [afterIcon]="'sli-note'" [view]="'accent'" [square]="true" [outline]="true" [tcShape]="'8%'" (click)="openDialog('Update',row)">Edit</button>
            <button tc-button [afterIcon]="'sli-close'" [view]="'error'" [square]="true" [outline]="true" [tcShape]="'8%'" (click)="openDialog('Delete',row)">Delete</button>
        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator
    #paginator
    [length]="database.data.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>