<div class="text-center">
  <h4>Some of your Questions:</h4>
  <div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6">
      <p [tcColor]="'#686868'">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos labore minima odio possimus praesentium qui
        quibusdam quis recusandae sequi voluptate. Iste nihil totam voluptatibus. Blanditiis, non vitae! Deleniti eum,
        fugiat illum in incidunt labore, magni maxime necessitatibus nisi numquam officia, placeat quo suscipit tempora
        temporibus ut veniam! Labore, omnis, suscipit?</p>
    </div>
    <div class="col-xl-3"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-4">
    <h2 class="h5 mb-2">General</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet, consectetur?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="col-md-6 mb-4">
    <h2 class="h5 mb-2">Marketplace</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet, consectetur?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="col-md-6 mb-4 mb-lg-0">
    <h2 class="h5 mb-2">Customization</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet, consectetur?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="col-md-6 mb-4 mb-lg-0">
    <h2 class="h5 mb-2">Design</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet, consectetur?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem ipsum dolor sit?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur ipsa vel. Ab assumenda beatae
          culpa cum enim ex in minima nemo nesciunt. Asperiores corporis dolor dolores, eaque expedita fugiat fugit in
          laboriosam, nemo neque perspiciatis placeat quasi quia quidem quisquam repellendus reprehenderit sunt ullam
          voluptas voluptatem. Nemo quia, ratione!</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
