<tc-card [title]="'INVOICE No. 158450'" class="mb-0">
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <p><strong>Hello, Stanley Jones</strong></p>
      <p>Thanks a lot because you keep purchasing our products. Our company promises to provide high quality products
        for you as well as outstanding customer service for every transaction.</p>
    </div>
    <div class="col-md-6 text-md-right">
      <p class="mb-2"><strong>Order Date: </strong><i>May 17, 2017</i></p>
      <p class="mb-2"><strong>Order Status: </strong><tc-badge [view]="'success'" [tcShape]="0">Paid</tc-badge></p>
      <p><strong>Order ID: </strong>#158450</p>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-6">
      <h5>Billing Address</h5>

      <address class="line-h-24">
        Stanley Jones<br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>

    <div class="col-md-6 text-md-right">
      <h5>Shipping Address</h5>

      <address class="line-h-24">
        Stanley Jones<br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div><!-- .row -->

  <div class="table-responsive mb-4">
    <table class="table">
      <thead>
      <tr class="text-nowrap">
        <th>#</th>
        <th>Breadcrumbs</th>
        <th>Quantity</th>
        <th>Unit Cost</th>
        <th class="text-right">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>
          <b>Laptop</b> <br>
          Brand Model VGN-TXN27N/B
          11.1" Notebook PC
        </td>
        <td>1</td>
        <td>$1799</td>
        <td class="text-right">$1799</td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <b>Warranty</b> <br>
          Two Year Extended Warranty -
          Parts and Labor
        </td>
        <td>3</td>
        <td>$499</td>
        <td class="text-right">$1497</td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          <b>LED</b> <br>
          80cm (32) HD Ready LED TV
        </td>
        <td>2</td>
        <td>$412</td>
        <td class="text-right">$824</td>
      </tr>
      </tbody>
    </table>
  </div><!-- .table-responsive -->

  <div class="mb-5 text-center text-md-right">
    <p class="mb-2"><strong>Sub-total:</strong> $4120.00</p>
    <p class="mb-0"><strong>VAT (12.5):</strong> $515</p>
    <p class="h4 mt-2">$4635.00 USD</p>
    <div class="hidden-print text-center text-md-right page-buttons">
      <button tc-button [view]="'accent'">Make a Payment</button>
      <button tc-button [view]="'accent'" afterIcon="sli-printer" outline="true">Print</button>
    </div>
  </div>

  <p>
    <small>PLEASE NOTE: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur consequuntur eveniet ipsam iure labore
      nemo pariatur perferendis quaerat quidem similique. Alias earum facere magni nam odio rem suscipit voluptatibus!
      Alias, consequatur distinctio dolore ducimus eaque est eveniet labore minus nam officiis placeat qui, quod quos
      repellat repellendus suscipit velit, voluptatem. Alias earum facere magni nam odio rem suscipit voluptatibus!
      Alias, consequatur distinctio dolore ducimus eaque est eveniet labore minus nam officiis placeat qui, quod quos
      repellat repellendus suscipit velit, voluptatem.</small>
  </p>
  <p>
    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur consequuntur eveniet ipsam iure labore
      nemo pariatur perferendis quaerat quidem similique. Alias earum facere magni nam odio rem suscipit voluptatibus!
      Alias, consequatur distinctio dolore ducimus eaque est eveniet labore minus nam officiis placeat qui, quod quos
      repellat repellendus suscipit velit, voluptatem.</small>
  </p>
  <hr>
  <div class="row text-center text-md-left ">
    <div class="col-md-6 mb-3 mb-md-0 pt-2 pb-2">
      <img src="assets/img/logo.png" alt="" width="33" height="33">
    </div>
    <div class="col-md-6 align-self-center text-md-right pt-2 pb-2">
      <p class="mb-2 small">Phone: +1 888-555-0000</p>
      <p class="small"><a href="mailto:support@mail.com">support@mail.com</a></p>
    </div>
  </div>
</tc-card>
