<div class="vertical-navbar-wrap">
  <button class="no-style toggle-navbar" (click)="toggleNavbar()" *ngIf="!appSettings.showTopNavbar">
    <i class="icon sli-menu"></i>
  </button>

  <ng-content></ng-content>
</div>
