@import '../../../../assets/scss/variables';

:host {
  background: url(../../../../assets/content/login-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  display: table-cell;
  height: 100%;
  padding: $module-rem;
  vertical-align: middle;
  width: 100%;

  .tc-card {
    margin: 0 auto;
    max-width: 400px;

    form {
      .submit {
        width: 100%;
      }
      .social-divider {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: $module-rem * 2 0;

        &:before,
        &:after {
          border-top: 1px solid rgba(#000,.2);
          content: '';
          margin: 0 5px;
          width: 30px;
        }
      }
      .social-login {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        button {
          width: 45%;

          .fa {
            margin-right: 10px;
          }
        }
      }
      .additional-info {
        background: rgba(#000,.1);
        margin: $module-rem * 2 (-($module-rem * 2)) (-($module-rem * 2));
        padding: $module-rem $module-rem * 2;

        .divider {
          border-left: 1px solid rgba(#000,.2);
          display: inline-block;
          height: 18px;
          margin: 0 10px;
          vertical-align: bottom;
        }
      }
    }
  }
}
