<tc-card [title]="'Sign in with your app id to continue'" [align]="'center'">
  <form>
    <mat-form-field>
      <input matInput placeholder="Username" value="">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" value="">
    </mat-form-field>

    <div class="text-left mb-module">
      <mat-checkbox>
        Keep me signed in
      </mat-checkbox>
    </div>

    <button tc-button [view]="'accent'" [block]="true">Sign In</button>

    <div class="social-divider">Sign in with</div>

    <div class="social-login">
      <button tc-button [tcBgColor]="'#3b5998'" beforeIcon="fa fa-facebook">Facebook</button>
      <button tc-button [tcBgColor]="'#00ACED'" beforeIcon="fa fa-twitter">Twitter</button>
    </div>

    <div class="additional-info">
      <a href="#" [routerLink]="['../', 'sign-up']">Sign up</a>
      <span class="divider"></span>
      <a href="#" [routerLink]="['../', 'forgot']">Forgot your password?</a>
    </div>
  </form>
</tc-card>
