<div class="row">
  <div class="col-12 col-md-6">
    <tc-card [title]="'Basic'">
      <tc-alert class="mb-4">
        This is <strong>Default alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [view]="'accent'" class="mb-4">
        This is <strong>Accent alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [view]="'success'" class="mb-4">
        This is <strong>Success alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [view]="'info'" class="mb-4">
        This is <strong>Info alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [view]="'warning'" class="mb-4">
        This is <strong>Warning alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [view]="'error'">
        This is <strong>Error alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Removable'">
      <tc-alert [removable]="true" class="mb-4">
        This is <strong>Default alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [removable]="true" [view]="'accent'" class="mb-4">
        This is <strong>Accent alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [removable]="true" [view]="'success'" class="mb-4">
        This is <strong>Success alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [removable]="true" [view]="'info'" class="mb-4">
        This is <strong>Info alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [removable]="true" [view]="'warning'" class="mb-4">
        This is <strong>Warning alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [removable]="true" [view]="'error'">
        This is <strong>Error alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Shape'">
      <tc-alert [view]="'success'" class="mb-4">Default alert!</tc-alert>

      <tc-alert [tcShape]="500" [view]="'info'" class="mb-4">Rounded alert!</tc-alert>

      <tc-alert [tcShape]="0" [view]="'error'">Square alert!</tc-alert>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'With icons'">
      <tc-alert [tcShape]="50" [beforeIcon]="'sli-bell'" class="mb-4">
        Icon before.
      </tc-alert>

      <tc-alert [afterIcon]="'sli-paper-clip'" [view]="'success'" [removable]="true" class="mb-4">
        Icon after.
      </tc-alert>

      <tc-alert [beforeIcon]="'sli-pencil'" [afterIcon]="'sli-social-instagram'" [removable]="true" [view]="'info'">
        Icons before & after.
      </tc-alert>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Custom style'" class="mb-md-0">
      <tc-alert class="mb-4" [tcColor]="'#ffccbc'">
        Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [tcColor]="'#413b39'" [tcBgColor]="'#bcaaa4'" [tcBorderColor]="'#bcaaa4'" class="mb-4">
        Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [outline]="true" [tcColor]="'#000'" [tcBorderColor]="'#b2dfdb'" [tcBorderStyle]="'dotted'" class="mb-4">
        Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [outline]="true" [tcColor]="'#000'" [tcBorderColor]="'#ff8a65'" [tcBorderStyle]="'dashed'" class="mb-4">
        Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [view]="'warning'" [tcFontSize]="'1.4rem'">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque eveniet fugiat hic mollitia!</p>
        <p>Lorem ipsum dolor sit amet.</p>
      </tc-alert>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Outline'" class="mb-0">
      <tc-alert [outline]="true" [tcColor]="'#000'" class="mb-4">
        This is <strong>Default alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [outline]="true" [view]="'accent'" class="mb-4">
        This is <strong>Accent alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [outline]="true" [view]="'success'" class="mb-4">
        This is <strong>Success alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [outline]="true" [view]="'info'" class="mb-4">
        This is <strong>Info alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [outline]="true" [view]="'warning'" class="mb-4">
        This is <strong>Warning alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>

      <tc-alert [outline]="true" [view]="'error'">
        This is <strong>Error alert.</strong> Lorem ipsum dolor sit amet.
      </tc-alert>
    </tc-card>
  </div>
</div>
