<tc-card [title]="'Autocomplete overview'">
  <mat-form-field>
    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto1" [formControl]="control1">
    <mat-autocomplete #auto1="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <img aria-hidden [src]="state.flag" height="25">
        <span class="ml-2 mr-2">
          <span>{{ state.name }}</span> | <small>Population: {{ state.population }}</small>
        </span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <br>

  <mat-slide-toggle
    [checked]="control1.disabled"
    (change)="control1.disabled ? control1.enable() : control1.disable()"
  >
    Disable Input?
  </mat-slide-toggle>
</tc-card>

<tc-card [title]="'Simple'">
  <mat-form-field>
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="control2" [matAutocomplete]="auto2">
    <mat-autocomplete #auto2="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Display value'">
  <mat-form-field>
    <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="control3" [matAutocomplete]="auto3">
    <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Filter'">
  <mat-form-field>
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="control4" [matAutocomplete]="auto4">
    <mat-autocomplete #auto4="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</tc-card>

<tc-card [title]="'Option groups'">
  <form [formGroup]="stateForm">
    <mat-form-field>
      <input type="text" matInput placeholder="States Group" formControlName="stateGroup" required [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
          <mat-option *ngFor="let name of group.names" [value]="name">
            {{ name }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</tc-card>

<tc-card [title]="'Highlight the first option'" class="mb-0">
  <mat-form-field>
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="control5" [matAutocomplete]="auto5">
    <mat-autocomplete autoActiveFirstOption #auto5="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions3 | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</tc-card>
