<div class="row">
  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card>
      <div class="row align-items-center">
        <div class="col col-auto">
          <tc-icon
            [tcShape]="500"
            [tcFontSize]="20"
            [padding]="'25px'"
            [tcColor]="'#ea8080'"
            [iconClass]="'sli-wallet'"
            [tcBgColor]="'rgba(234,128,128,0.2)'"
          ></tc-icon>
        </div>

        <div class="col col-auto">
          <div class="count" [tcFontSize]="20"><strong>$30,845</strong></div>
          <h6 class="mt-1 mb-0 nowrap" [tcColor]="'#ea8080'">Profit</h6>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card>
      <div class="row align-items-center">
        <div class="col col-auto">
          <tc-icon
            [tcShape]="500"
            [tcFontSize]="20"
            [padding]="'25px'"
            [tcColor]="'#E1BEE7'"
            [iconClass]="'sli-graph'"
            [tcBgColor]="'rgba(225,190,231,0.2)'"
          ></tc-icon>
        </div>

        <div class="col col-auto">
          <div class="count" [tcFontSize]="20"><strong>+24,17%</strong></div>
          <h6 class="mt-1 mb-0 nowrap" [tcColor]="'#E1BEE7'">Growth</h6>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card>
      <div class="row align-items-center">
        <div class="col col-auto">
          <tc-icon
            [tcShape]="500"
            [tcFontSize]="20"
            [padding]="'25px'"
            [tcColor]="'#ffcb2c'"
            [iconClass]="'sli-basket'"
            [tcBgColor]="'rgba(225,203,44,0.2)'"
          ></tc-icon>
        </div>

        <div class="col col-auto">
          <div class="count" [tcFontSize]="20"><strong>2,584</strong></div>
          <h6 class="mt-1 mb-0 nowrap" [tcColor]="'#ffcb2c'">Orders</h6>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card>
      <div class="row align-items-center">
        <div class="col col-auto">
          <tc-icon
            [tcShape]="500"
            [tcFontSize]="20"
            [padding]="'25px'"
            [tcColor]="'#2196f3'"
            [iconClass]="'sli-user-follow'"
            [tcBgColor]="'rgba(33,150,243,0.2)'"
          ></tc-icon>
        </div>

        <div class="col col-auto">
          <div class="count" [tcFontSize]="20"><strong>1,589</strong></div>
          <h6 class="mt-1 mb-0 nowrap" [tcColor]="'#2196f3'">Customers</h6>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [view]="'error'" class="info-card">
      <div class="title text-uppercase">Orders</div>
      <div class="count">2,145</div>
      <div class="d-flex align-items-end">
        <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+17%</tc-badge>
        <small class="ml-1 mr-1 text-nowrap text-truncate">from previous period</small>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [view]="'warning'" class="info-card">
      <div class="title text-uppercase">Revenue</div>
      <div class="count">$ 50,24</div>
      <small>11750</small>
      <mat-icon>equalizer</mat-icon>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [view]="'info'" class="info-card">
      <div class="title text-uppercase">Products</div>
      <div class="count">2,543</div>
      <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+210</tc-badge>
      <mat-icon>monetization_on</mat-icon>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [view]="'success'" class="info-card">
      <div class="title text-uppercase">Sold</div>
      <div class="count">1,005</div>
      <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+24%</tc-badge>
      <mat-icon>donut_large</mat-icon>
    </tc-card>
  </div>

  <div class="clearfix"></div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcColor]="'#fff'" [bgImg]="'assets/content/card-4.jpg'" class="info-card">
      <div class="title text-uppercase">Orders</div>
      <div class="count">2,145</div>

      <div class="d-flex align-items-end">
        <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+17%</tc-badge>
        <small class="ml-1 mr-1 text-nowrap text-truncate">from previous period</small>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcColor]="'#fff'" [bgImg]="'assets/content/card-5.jpg'" class="info-card">
      <div class="title text-uppercase">Revenue</div>
      <div class="count">$ 50,24</div>
      <small>11750</small>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcColor]="'#fff'" [bgImg]="'assets/content/card-6.jpg'" class="info-card">
      <div class="title text-uppercase">Products</div>
      <div class="count">2,543</div>
      <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+210</tc-badge>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcColor]="'#fff'" [bgImg]="'assets/content/card-7.jpg'" class="info-card">
      <div class="title text-uppercase">Sold</div>
      <div class="count">1,005</div>
      <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+24%</tc-badge>
    </tc-card>
  </div>

  <div class="clearfix"></div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [outline]="true" [view]="'error'" class="info-card">
      <div class="title text-uppercase">Orders</div>
      <div class="count">2,145</div>
      <div class="d-flex align-items-end">
        <tc-badge [view]="'error'">+17%</tc-badge>
        <small class="ml-1 mr-1 text-nowrap text-truncate">from previous period</small>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [outline]="true" [view]="'warning'" class="info-card">
      <div class="title text-uppercase">Revenue</div>
      <div class="count">$ 50,24</div>
      <small>11750</small>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [outline]="true" [view]="'info'" class="info-card">
      <div class="title text-uppercase">Products</div>
      <div class="count">2,543</div>
      <tc-badge [view]="'info'">+210</tc-badge>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [outline]="true" [view]="'success'" class="info-card">
      <div class="title text-uppercase">Sold</div>
      <div class="count">1,005</div>
      <tc-badge [view]="'success'">+24%</tc-badge>
    </tc-card>
  </div>

  <div class="clearfix"></div>

  <div class="col col-12 col-xl-4">
    <tc-card [tcBgColor]="''" class="chart-card">
      <div class="d-flex align-items-end">
        <div class="chart">
          <canvas
            baseChart
            [data]="pieChartData"
            [colors]="pieChartColors"
            [labels]="pieChartLabels"
            [legend]="false"
            [options]="pieChartOptions"
            [chartType]="pieChartType"
            width="80"
            height="80"
          ></canvas>
        </div>
        <div class="info">
          <div class="title"><strong>930</strong> <small>Resolved</small></div>
          <div class="small">More than 70% resolved issues</div>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-xl-4">
    <tc-card [tcBgColor]="''" class="chart-card">
      <div class="d-flex align-items-end">
        <div class="chart">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [colors]="doughnutChartColors"
            [labels]="doughnutChartLabels"
            [legend]="false"
            [options]="doughnutChartOptions"
            [chartType]="doughnutChartType"
            width="80"
            height="80"
          ></canvas>
        </div>
        <div class="info">
          <div class="title"><strong>466</strong> <small>Unresolved</small></div>
          <div class="small">Less than 30% unresolved issues</div>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-xl-4">
    <tc-card [tcBgColor]="''" class="chart-card">
      <div class="d-flex align-items-end">
        <div class="chart">
          <canvas
            baseChart
            [data]="polarAreaChartData"
            [colors]="polarAreaChartColors"
            [labels]="polarAreaChartLabels"
            [legend]="false"
            [options]="polarAreaChartOptions"
            [chartType]="polarAreaChartType"
            width="80"
            height="80"
          ></canvas>
        </div>
        <div class="info">
          <div class="title"><strong>1,547</strong> <small>Issues</small></div>
          <div class="small">8 issues are unassigned</div>
        </div>
      </div>
    </tc-card>
  </div>
</div>

<div class="row mb-lg-4">
  <div class="col-lg-6 map-col mb-4 mb-lg-0">
    <tc-card [padding]="0" class="mb-0">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </tc-card>
    <div class="clearfix"></div>
  </div>

  <div class="col-lg-6">
    <tc-card class="mb-lg-0">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"></canvas>
    </tc-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <tc-card [title]="'Users'" class="mb-lg-0">
      <mat-list>
        <mat-list-item *ngFor="let message of messages">
          <img mat-list-avatar src="{{ message.avatar }}" width="40" height="40" alt="">
          <h3 mat-line class="h3">{{ message.from }}</h3>
          <p mat-line><i>
            <span>{{message.subject}}</span>
            <span> — {{ message.content }}</span>
          </i></p>
        </mat-list-item>
      </mat-list>
    </tc-card>
  </div>

  <div class="col-lg-6">
    <tc-card [title]="'To do list'" class="mb-0">
      <mat-list>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon  mat-list-icon>{{folder.icon}}<tc-badge *ngIf="folder.badge" [view]="'error'" [position]="'top-right'">{{folder.badge}}</tc-badge></mat-icon>
          <h4 mat-line>{{folder.name}}</h4>
          <p mat-line><i>{{folder.updated}}</i></p>
        </mat-list-item>
      </mat-list>
    </tc-card>
  </div>
</div>
