.map-col {
  .tc-card {
    height: 100%;

    ::ng-deep {
      .card-content {
        height: 100%;
      }
    }
  }
}
.sebm-google-map-container {
  height: 100%;
  min-height: 200px;

  ::ng-deep .sebm-google-map-container-inner {
    min-height: 200px;
  }
}
