<tc-card [title]="'Sign in with your app id to continue'" [align]="'center'">
  <form>
    <mat-form-field>
      <input matInput placeholder="Username" value="">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" value="">
    </mat-form-field>

    <div class="text-left mb-module">
      <mat-checkbox>
        Keep me signed in
      </mat-checkbox>
    </div>

    <button tc-button [view]="'accent'" [block]="true">Sign In</button>

    <div class="additional-info">
      <a href="#" [routerLink]="['../', 'sign-up']">Sign up</a>
      <span class="divider"></span>
      <a href="#" [routerLink]="['../../extra', 'forgot']">Forgot your password?</a>
    </div>
  </form>
</tc-card>
