<tc-card [title]="'Basic'" class="mb-0">
  <p>You have received a file called "cat-picture.jpeg".</p>

  <button mat-raised-button color="accent" (click)="openBottomSheet()">Open file</button>
</tc-card>
