<tc-card [title]="'Basic'">
  <p>
    <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
  </p>

  <p>
    Button with a badge on the left
    <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      Action
    </button>
  </p>

  <p>
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">Example with a home icon with overlaid badge showing the number 15</span>
  </p>
</tc-card>

<tc-card [title]="'Position'">
  <div class="demo-list">
    <mat-icon matBadge="2" matBadgePosition="above after">home</mat-icon>
    <mat-icon matBadge="5" matBadgePosition="below after" matBadgeColor="accent">home</mat-icon>
    <mat-icon matBadge="1" matBadgePosition="above before">home</mat-icon>
    <mat-icon matBadge="9" matBadgePosition="below before" matBadgeColor="warn">home</mat-icon>
  </div>
</tc-card>

<tc-card [title]="'Sizing'" class="mb-0">
  <div class="demo-list">
    <mat-icon matBadge="2" matBadgeSize="small">home</mat-icon>
    <mat-icon matBadge="5" matBadgeSize="medium" matBadgeColor="accent">home</mat-icon>
    <mat-icon matBadge="1" matBadgeSize="large" matBadgeColor="warn">home</mat-icon>
  </div>
</tc-card>
