<tc-card [title]="'Basic'">
  <mat-slide-toggle>Slide me!</mat-slide-toggle>
</tc-card>

<tc-card [title]="'Configurable'" class="mb-0">
  <h5 class="mt-0">Slider configuration</h5>

  <section class="mb-2">
    <div>Color:</div>
    <mat-radio-group [(ngModel)]="color">
      <mat-radio-button value="primary">Primary</mat-radio-button>
      <mat-radio-button value="accent">Accent</mat-radio-button>
      <mat-radio-button value="warn">Warn</mat-radio-button>
    </mat-radio-group>
  </section>

  <section>
    <mat-checkbox [(ngModel)]="checked">Checked</mat-checkbox>
  </section>

  <section>
    <mat-checkbox [(ngModel)]="disabled">Disabled</mat-checkbox>
  </section>

  <h5>Result</h5>

  <section>
    <mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled">
      Slide me!
    </mat-slide-toggle>
  </section>
</tc-card>
