<h2 mat-dialog-title>GwyUsers Detail</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="id" formControlName="id" id="id">
            <!-- <mat-hint align="end">Not more then [0] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('id', 'required')">[id] is required</mat-error>
            <mat-error *ngIf="hasError('id', 'maxlength')">You have more than [0] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="username" formControlName="username" id="username">
            <!-- <mat-hint align="end">Not more then [50] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('username', 'required')">[username] is required</mat-error>
            <mat-error *ngIf="hasError('username', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="phone" formControlName="phone" id="phone">
            <!-- <mat-hint align="end">Not more then [50] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('phone', 'required')">[phone] is required</mat-error>
            <mat-error *ngIf="hasError('phone', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="email" formControlName="email" id="email">
            <!-- <mat-hint align="end">Not more then [50] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('email', 'required')">[email] is required</mat-error>
            <mat-error *ngIf="hasError('email', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="fullname" formControlName="fullname" id="fullname">
            <!-- <mat-hint align="end">Not more then [100] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('fullname', 'required')">[fullname] is required</mat-error>
            <mat-error *ngIf="hasError('fullname', 'maxlength')">You have more than [100] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="supervisor" formControlName="supervisor" id="supervisor">
            <!-- <mat-hint align="end">Not more then [100] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('supervisor', 'required')">[supervisor] is required</mat-error>
            <mat-error *ngIf="hasError('supervisor', 'maxlength')">You have more than [100] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="is_admin" formControlName="is_admin" id="is_admin">
            <!-- <mat-hint align="end">Not more then [1] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('is_admin', 'required')">[is_admin] is required</mat-error>
            <mat-error *ngIf="hasError('is_admin', 'maxlength')">You have more than [1] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="del_flag" formControlName="del_flag" id="del_flag">
            <!-- <mat-hint align="end">Not more then [1] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('del_flag', 'required')">[del_flag] is required</mat-error>
            <mat-error *ngIf="hasError('del_flag', 'maxlength')">You have more than [1] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="supervisor_email" formControlName="supervisor_email" id="supervisor_email">
            <!-- <mat-hint align="end">Not more then [128] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('supervisor_email', 'required')">[supervisor_email] is required</mat-error>
            <mat-error *ngIf="hasError('supervisor_email', 'maxlength')">You have more than [128] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="site_cn" formControlName="site_cn" id="site_cn">
            <!-- <mat-hint align="end">Not more then [50] characters long.</mat-hint> -->
            <mat-error *ngIf="hasError('site_cn', 'required')">[site_cn] is required</mat-error>
            <mat-error *ngIf="hasError('site_cn', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
        </div>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Save</button>
</mat-dialog-actions>
