<tc-card [title]="'Search'">
    <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <input matInput #search_id placeholder="Search" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput #search_name placeholder="Search Name" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button mat-raised-button color="primary" (click)="search(search_id.value, search_name.value)"><mat-icon>search</mat-icon> Search</button>
      <button mat-raised-button color="warning" (click)="openDialog('New', null)"> New</button>
    </div>
  </div>
</tc-card>
<tc-card [title]="'Latest sales'" [padding]="0" class="mb-0">
  <div class="table-responsive">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef>USERNAME</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.username }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>PHONE</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.phone }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>EMAIL</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.email }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef>FULLNAME</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.fullname }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="supervisor">
          <mat-header-cell *matHeaderCellDef>SUPERVISOR</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.supervisor }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="is_admin">
          <mat-header-cell *matHeaderCellDef>IS_ADMIN</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.is_admin }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="del_flag">
          <mat-header-cell *matHeaderCellDef>DEL_FLAG</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.del_flag }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="supervisor_email">
          <mat-header-cell *matHeaderCellDef>SUPERVISOR_EMAIL</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.supervisor_email }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="site_cn">
          <mat-header-cell *matHeaderCellDef>SITE_CN</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.site_cn }}</mat-cell>
      </ng-container>
    <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell  mat-cell *matCellDef="let row" class="btn btn-sm"> 
              <a (click)="openDialog('Update',row)">Edit</a> | 
              <a (click)="openDialog('Delete',row)">Delete</a>  
          </mat-cell >
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator
    #paginator
    [length]="database.data.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>

  </div>
</tc-card>  