<tc-card [title]="'Search'">
    <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <input matInput #search_id placeholder="Search Username" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput #search_name placeholder="Search by action" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button mat-raised-button color="primary" (click)="search(search_id.value, search_name.value)"><mat-icon>search</mat-icon> Search</button>
    </div>
  </div>
  </tc-card>
  <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="at_time">
          <mat-header-cell *matHeaderCellDef>AT_TIME</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.at_time }} <br> {{ row?.username }} <br/> {{ row?.from_ip }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action_desc">
          <mat-header-cell *matHeaderCellDef>ACTION_DESC</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row?.action_id }} <br/> {{ row?.field_id }} <br/> {{ row?.table_name }} <br>{{ row?.action_desc }}</mat-cell>
      </ng-container>
      
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator
    #paginator
    [length]="database.data.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>