@import '~assets/scss/variables';

$_overlay-bg: rgba(main-palette(500),.1);
$_bg: #fff;
$_border-color: rgba(main-palette(500),.1);
$_shape: $shape;
$_transition: $animation;
$_shadow: $shadow;

:host {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  transition: 0s visibility .3s $_transition;
  visibility: hidden;

  .dropdown-content-wrap {
    background: $_bg;
    border-radius: $_shape;
    box-shadow: $_shadow;
    left: 50%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    transition: .2s opacity 0s $_transition;
    width: 280px;
    z-index: 9998;
    @media #{$max767} {
      left: 0 !important;
      width: 100% !important;
    }

    ::ng-deep {
      > *:first-child {
        border-top-left-radius: $_shape;
        border-top-right-radius: $_shape;
      }
      > *:last-child {
        border-bottom-left-radius: $_shape;
        border-bottom-right-radius: $_shape;
      }
      .menu-title,
      .menu-footer {
        margin: 0;
        padding: $module-rem;
        text-align: center;
      }
      .menu-title {
        border-bottom: 1px solid rgba(main-palette(500), .1);
        color: main-palette(500);
        font-size: 16px;
        line-height: 1.3;
      }
      .menu-footer {
        background: main-palette(300);

        a {
          color: main-palette-contrast(300);

          &:hover {
            color: rgba(main-palette-contrast(300), .8);
          }
        }
      }
      .menu-list {
        list-style-type: none;
        margin: 0;
        max-height: 260px;
        overflow: auto;
        padding: 0;

        > li {
          border-bottom: 1px solid rgba(main-palette(500),.05);

          &:last-child {
            border-bottom: 0;
          }
          > a {
            align-items: center;
            color: main-palette(500);
            display: flex;
            padding: $module-rem ($module-rem / 2);
            transition:
              background .2s $animation,
              color .2s $animation;

            &:hover {
              @media #{$min992} {
                background: main-palette(500);
                color: main-palette-contrast(500);

                .icon,
                .mat-icon {
                  background: rgba(accent-palette-contrast(500), .1);
                }
              }
            }
            .icon,
            .mat-icon {
              background: rgba(accent-palette(500),.1);
              border-radius: 50%;
              font-size: 22px;
              height: auto;
              margin: 0 ($module-rem / 2);
              padding: $module-rem;
              transition: background .2s $animation;
              width: auto;
            }
            .avatar {
              border-radius: 50%;
              height: 40px;
              margin: 0 ($module-rem / 2);
              width: 40px;
            }
            .content {
              margin: 0 ($module-rem / 2);
              font-size: .85rem;

              .desc {
                display: block;
              }
              .date {
                display: block;
                font-size: .75rem;
                font-style: italic;
                margin-top: 4px;
                opacity: .6;
              }
              .meta {
                align-items: flex-end;
                display: flex;
                justify-content: space-between;
                line-height: 1.3;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
    }
  }
  .dropdown-overlay {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: .1s opacity .2s $_transition;
    z-index: 9997;

    .overlay-bg {
      background: $_overlay-bg;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  &.fadeInUp-animation,
  &.fadeInDown-animation,
  &.fadeInLeft-animation,
  &.fadeInRight-animation,
  &.zoom-animation {
    .dropdown-content-wrap {
      transition:
        .2s opacity 0s $_transition,
        .2s transform 0s $_transition;
    }
  }
  &.fadeInUp-animation {
    .dropdown-content-wrap {
      transform: translateY(30px);
    }
  }
  &.fadeInDown-animation {
    .dropdown-content-wrap {
      transform: translateY(-30px);
    }
  }
  &.fadeInLeft-animation {
    .dropdown-content-wrap {
      transform: translateX(100%);
    }
  }
  &.fadeInRight-animation {
    .dropdown-content-wrap {
      transform: translateX(-100%);
    }
  }
  &.zoom-animation {
    .dropdown-content-wrap {
      transform: scale(0);
    }
  }
  &.opened {
    visibility: visible;
    transition: 0s visibility 0s $_transition;

    .dropdown-content-wrap {
      opacity: 1;
      transition: .2s opacity .1s $_transition;
    }
    .dropdown-overlay {
      opacity: 1;
      transition: .1s opacity 0s $_transition;
    }
    &.fadeInUp-animation,
    &.fadeInDown-animation,
    &.fadeInLeft-animation,
    &.fadeInRight-animation {
      .dropdown-content-wrap {
        transform: translate(0);
        transition:
          .2s opacity .1s $_transition,
          .2s transform .1s $_transition;
      }
    }
    &.zoom-animation {
      .dropdown-content-wrap {
        transform: scale(1);
        transition:
          .2s opacity .1s $_transition,
          .2s transform .1s $_transition;
      }
    }
  }
}
