<tc-card [title]="'Basic use of the tab group'">
  <mat-tab-group>
    <mat-tab label="First">
      <div class="mt-4">Content 1</div>
    </mat-tab>
    <mat-tab label="Second">
      <div class="mt-4">Content 2</div>
    </mat-tab>
    <mat-tab label="Third">
      <div class="mt-4">Content 3</div>
    </mat-tab>
  </mat-tab-group>
</tc-card>

<tc-card [title]="'Using tabs with a custom label template'">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        The <strong>best</strong> pasta
      </ng-template>
      <h3>Best pasta restaurants</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt ea impedit inventore repellendus sint tenetur? Consequuntur delectus deleniti exercitationem, fuga illo minima, minus necessitatibus non odit pariatur perspiciatis qui quis sapiente. Aspernatur assumenda est in iusto laborum molestias nesciunt placeat quibusdam reprehenderit, suscipit tenetur vero voluptatem. Et, explicabo, qui.</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-2 ml-2">thumb_up</mat-icon> The best sushi
      </ng-template>
      <h3>Terrible sushi restaurants</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias debitis doloribus ducimus eveniet explicabo harum impedit itaque repellat unde ut! Earum maxime nulla quis repudiandae sequi. A doloremque ex, excepturi explicabo ipsam itaque laboriosam laudantium nam numquam praesentium saepe sunt voluptatem, voluptatum! Accusantium animi esse laudantium rem repellat similique voluptas.</p>
    </mat-tab>
  </mat-tab-group>
</tc-card>

<tc-card [title]="'Tab group with the headers on the bottom'">
  <mat-tab-group headerPosition="below">
    <mat-tab label="First">
      <div class="mb-3">Content 1</div>
    </mat-tab>
    <mat-tab label="Second">
      <div class="mb-3">Content 2</div>
    </mat-tab>
    <mat-tab label="Third">
      <div class="mb-3">Content 3</div>
    </mat-tab>
  </mat-tab-group>
</tc-card>


<tc-card [title]="'Tab group with stretched labels'">
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="First">
      <div class="p-3">Content 1</div>
    </mat-tab>
    <mat-tab label="Second">
      <div class="p-3">Content 2</div>
    </mat-tab>
    <mat-tab label="Third">
      <div class="p-3">Content 3</div>
    </mat-tab>
  </mat-tab-group>
</tc-card>

<tc-card [title]="'Customizing the theme options on the tab group'" class="mb-0">
  <div>
    <mat-button-toggle-group #colorToggle="matButtonToggleGroup" value="primary" aria-label="Change color">
      <mat-button-toggle value="primary"> Primary </mat-button-toggle>
      <mat-button-toggle value="accent"> Accent </mat-button-toggle>
    </mat-button-toggle-group>
    <span class="ml-2 mr-2">Color</span>
  </div>

  <div class="mb-4">
    <mat-button-toggle-group #backgroundColorToggle="matButtonToggleGroup" value="primary" aria-label="Change color">
      <mat-button-toggle value="primary"> Primary </mat-button-toggle>
      <mat-button-toggle value="accent"> Accent </mat-button-toggle>
    </mat-button-toggle-group>
    <span class="ml-2 mr-2">Background Color</span>
  </div>

  <mat-tab-group [color]="colorToggle.value" [backgroundColor]="backgroundColorToggle.value">
    <mat-tab label="First">
      <div class="mt-4">Content 1</div>
    </mat-tab>
    <mat-tab label="Second">
      <div class="mt-4">Content 2</div>
    </mat-tab>
    <mat-tab label="Third">
      <div class="mt-4">Content 3</div>
    </mat-tab>
  </mat-tab-group>
</tc-card>
