<h5>Basic</h5>
<mat-card class="mb-5 example-card">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?</p>
</mat-card>

<h5>With header</h5>
<mat-card class="mb-5 example-card">
  <mat-card-header>
    <div mat-card-avatar><img src="assets/content/avatar-1.jpg" width="40" height="40"></div>
    <mat-card-title>Header title</mat-card-title>
    <mat-card-subtitle>Header subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi cupiditate dicta ducimus enim esse eum eveniet explicabo id in, quae rerum.
    </p>
  </mat-card-content>
</mat-card>

<h5>With actions</h5>
<mat-card class="mb-5 example-card">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button>Cancel</button>
    <button mat-raised-button color="accent">Save</button>
  </mat-card-actions>
</mat-card>

<h5>With multiple sections</h5>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar><img src="assets/content/avatar-2.jpg" width="40" height="40"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/content/card-1.jpg">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">LIKE</button>
    <button mat-button color="warn">SHARE</button>
  </mat-card-actions>
</mat-card>
