<h2 mat-dialog-title>Review</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Equipment ID" formControlName="eqpt_id" id="eqpt_id">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Version" formControlName="version" id="version">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="State" formControlName="state" id="state">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Data Type" formControlName="data_type" id="data_type">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Request By" formControlName="requested_by" id="requested_by">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Request Time" formControlName="requested_time" id="requested_time">
          </mat-form-field>
          
        </div>
      </div>
      <div *ngIf="isData; else nodata">
        There are some new updated values below:
        <div class="row">
          <div class="col-md-12">
            <mat-table #table [dataSource]="dataSource">
              <ng-container matColumnDef="section_id">
                <mat-header-cell *matHeaderCellDef>Session</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row?.section_id }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="key">
                  <mat-header-cell *matHeaderCellDef>Key</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row?.key }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="value">
                  <mat-header-cell *matHeaderCellDef>New Value</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row?.value }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="old_value">
                <mat-header-cell *matHeaderCellDef>Old Value</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row?.old_value }}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </div>
      </div>
      
      <ng-template #nodata>
        There is NO updated values
      </ng-template>


      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="Request Comment" formControlName="requested_comment" id="requested_comment">
          </mat-form-field>
          
        </div>
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="Approve Comment" formControlName="updated_comment" id="updated_comment">
          </mat-form-field>
        </div>
        
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Submit Approve</button>
</mat-dialog-actions>
