<tc-card [title]="'Search'">
    <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <input matInput #search_id placeholder="Search" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-select name="state"  [(ngModel)]="data.state" >
            <mat-option *ngFor="let style of listState" [value]="style.value" [selected]="style.value=='Editting'">
                {{ style.text }}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button mat-raised-button color="primary" (click)="search()"><mat-icon>search</mat-icon> Search</button>
    </div>
  </div>
  </tc-card>
  <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="site_id">
          <mat-header-cell *matHeaderCellDef>SITE_ID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.site_id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="operation_id">
          <mat-header-cell *matHeaderCellDef>OPERATION_ID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.operation_id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="eqpt_id">
          <mat-header-cell *matHeaderCellDef>Equipment</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.eqpt_id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="version">
          <mat-header-cell *matHeaderCellDef>Version</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.version }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updated_by">
          <mat-header-cell *matHeaderCellDef>Update By</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.updated_by }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updated_time">
          <mat-header-cell *matHeaderCellDef>Update Time</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.updated_time }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="requested_by">
          <mat-header-cell *matHeaderCellDef>Request By</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.requested_by }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="requested_time">
          <mat-header-cell *matHeaderCellDef>Request Time</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.requested_time }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="requested_comment">
          <mat-header-cell *matHeaderCellDef>Comment</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.requested_comment }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.state }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="data_type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.data_type }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updated_comment">
          <mat-header-cell *matHeaderCellDef>Update Comment</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.updated_comment }}</mat-cell>
      </ng-container>
    <ng-container matColumnDef="seq_id">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let row">
              <button tc-button [beforeIcon]="'sli-note'" [view]="'accent'" [square]="true" [outline]="true" [tcShape]="'8%'" (click)="openDialog('Update',row)">View</button>
          </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator
    #paginator
    [length]="database.data.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>