<tc-card [title]="'Basic'">
  <button
    mat-raised-button
    color="primary"
    matTooltip="Info about the action"
    aria-label="Button that displays a tooltip when focused or hovered over"
  >
    Action
  </button>
</tc-card>

<tc-card [title]="'With a custom position'">
  <mat-form-field>
    <mat-select placeholder="Tooltip position" [formControl]="position">
      <mat-option *ngFor="let positionOption of positionOptions" [value]="positionOption">
        {{ positionOption }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    matTooltip="Info about the action"
    [matTooltipPosition]="position.value"
    aria-label="Button that displays a tooltip in various positions"
  >
    Action
  </button>
</tc-card>

<tc-card [title]="'Have a custom class applied'">
  <button
    mat-raised-button
    color="primary"
    matTooltip="Info about the action"
    matTooltipClass="example-tooltip-red"
    aria-label="Button that shows a red tooltip"
    class="example-button"
  >
    Red-tooltip Action
  </button>
</tc-card>

<tc-card [title]="'With a show and hide delay'">
  <mat-form-field>
    <input
      matInput
      placeholder="Show delay (milliseconds)"
      type="number"
      aria-label="Adds a delay between hovering over the button and displaying the tooltip"
      [formControl]="showDelay">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Hide delay (milliseconds)"
      type="number"
      aria-label="Adds a delay between hovering away from the button and hiding the tooltip"
      [formControl]="hideDelay">
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    matTooltip="Info about the action"
    [matTooltipShowDelay]="showDelay.value"
    [matTooltipHideDelay]="hideDelay.value"
    aria-label="Button that displays a tooltip with a customized delay in showing and hiding"
  >
    Action
  </button>
</tc-card>

<tc-card [title]="'Can be disabled'">
  <button
    mat-raised-button
    color="primary"
    matTooltip="Info about the action"
    [matTooltipDisabled]="disabled.value"
    aria-label="Button that displays a tooltip that can be programatically disabled"
  >
    Action
  </button>

  <mat-checkbox [formControl]="disabled" class="ml-3 mr-3">
    Tooltip disabled
  </mat-checkbox>
</tc-card>

<tc-card [title]="'Can be manually shown/hidden'" class="mb-0">
  <div>
    <span> Click the following buttons to... </span>
    <button
      mat-button
      color="primary"
      (click)="tooltip.show()"
      aria-label="Show tooltip on the button at the end of this section"
    >
      show
    </button>
    <button
      mat-button
      color="primary"
      (click)="tooltip.hide()"
      aria-label="Hide tooltip on the button at the end of this section"
    >
      hide
    </button>
    <button
      mat-button
      color="primary"
      (click)="tooltip.toggle()"
      aria-label="Show/Hide tooltip on the button at the end of this section"
    >
      toggle show/hide
    </button>
  </div>

  <button
    mat-raised-button
    color="primary"
    #tooltip="matTooltip"
    matTooltip="Info about the action"
    matTooltipPosition="right"
    aria-tooltip="Button that displays and hides a tooltip triggered by other buttons"
  >
    Action
  </button>
</tc-card>
