<div class="row">
  <div class="col-md-6 mb-4 mb-md-0">
    <tc-chat [activeUser]="activeUser" [messages]="messages"></tc-chat>
  </div>

  <div class="col-md-6">
    <tc-chat [activeUser]="activeUser2" [messages]="messages2" [style.height.px]="600"></tc-chat>
  </div>
</div>
