<tc-card [title]="'Reset Your Password'" [align]="'center'">
  <form>
    <mat-form-field>
      <input matInput placeholder="Email" value="">
    </mat-form-field>

    <p class="text-left small">Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>

    <button tc-button [view]="'accent'" [block]="true">Reset</button>

    <div class="additional-info">
      <a href="#" [routerLink]="['../', 'sign-in']">Sign In</a>
      <span class="divider"></span>
      <a href="#" [routerLink]="['../', 'sign-up']">Sign up</a>
    </div>
  </form>
</tc-card>
