<tc-card [title]="'Files Types'">
  <tc-file [title]="'file-name'"></tc-file>
  <tc-file [type]="'doc'" [title]="'file-name'"></tc-file>
  <tc-file [type]="'xlx'" [title]="'file-name'"></tc-file>
  <tc-file [type]="'pdf'" [title]="'file-name'"></tc-file>
  <tc-file [type]="'zip'" [title]="'file-name'"></tc-file>
  <tc-file [type]="'mp3'" [title]="'file-name'"></tc-file>
  <tc-file [type]="'mp4'" [title]="'file-name'"></tc-file>
  <tc-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-1.jpg'"></tc-file>
</tc-card>

<tc-card [title]="'Files Size'">
  <p><strong>Small</strong></p>
  <p>
    <tc-file [title]="'file-name'" [size]="'small'"></tc-file>
    <tc-file [type]="'doc'" [title]="'file-name'" [size]="'small'"></tc-file>
    <tc-file [type]="'xlx'" [title]="'file-name'" [size]="'small'"></tc-file>
    <tc-file [type]="'pdf'" [title]="'file-name'" [size]="'small'"></tc-file>
    <tc-file [type]="'zip'" [title]="'file-name'" [size]="'small'"></tc-file>
    <tc-file [type]="'mp3'" [title]="'file-name'" [size]="'small'"></tc-file>
    <tc-file [type]="'mp4'" [title]="'file-name'" [size]="'small'"></tc-file>
    <tc-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-2.jpg'" [size]="'small'"></tc-file>
  </p>
  <p><strong>Normal</strong></p>
  <p>
    <tc-file [title]="'file-name'"></tc-file>
    <tc-file [type]="'doc'" [title]="'file-name'"></tc-file>
    <tc-file [type]="'xlx'" [title]="'file-name'"></tc-file>
    <tc-file [type]="'pdf'" [title]="'file-name'"></tc-file>
    <tc-file [type]="'zip'" [title]="'file-name'"></tc-file>
    <tc-file [type]="'mp3'" [title]="'file-name'"></tc-file>
    <tc-file [type]="'mp4'" [title]="'file-name'"></tc-file>
    <tc-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-3.jpg'"></tc-file>
  </p>
  <p><strong>Large</strong></p>
  <p>
    <tc-file [title]="'file-name'" [size]="'large'"></tc-file>
    <tc-file [type]="'doc'" [title]="'file-name'" [size]="'large'"></tc-file>
    <tc-file [type]="'xlx'" [title]="'file-name'" [size]="'large'"></tc-file>
    <tc-file [type]="'pdf'" [title]="'file-name'" [size]="'large'"></tc-file>
    <tc-file [type]="'zip'" [title]="'file-name'" [size]="'large'"></tc-file>
    <tc-file [type]="'mp3'" [title]="'file-name'" [size]="'large'"></tc-file>
    <tc-file [type]="'mp4'" [title]="'file-name'" [size]="'large'"></tc-file>
    <tc-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file.jpg'" [size]="'large'"></tc-file>
  </p>
</tc-card>

<tc-card [title]="'Files with delete button'">
  <tc-file [title]="'file-name'" [delete]="true"></tc-file>
  <tc-file [type]="'doc'" [title]="'file-name'" [delete]="true"></tc-file>
  <tc-file [type]="'xlx'" [title]="'file-name'" [delete]="true"></tc-file>
  <tc-file [type]="'pdf'" [title]="'file-name'" [delete]="true"></tc-file>
  <tc-file [type]="'zip'" [title]="'file-name'" [delete]="true"></tc-file>
  <tc-file [type]="'mp3'" [title]="'file-name'" [delete]="true"></tc-file>
  <tc-file [type]="'mp4'" [title]="'file-name'" [delete]="true"></tc-file>
  <tc-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-4.jpg'" [delete]="true"></tc-file>
</tc-card>

<tc-card [title]="'Files with spinners'" class="mb-0">
  <tc-file [title]="'file-name'" [spinner]="true"></tc-file>
  <tc-file [type]="'doc'" [title]="'file-name'" [spinner]="true"></tc-file>
  <tc-file [type]="'xlx'" [title]="'file-name'" [spinner]="true"></tc-file>
  <tc-file [type]="'pdf'" [title]="'file-name'" [spinner]="true"></tc-file>
  <tc-file [type]="'zip'" [title]="'file-name'" [spinner]="true"></tc-file>
  <tc-file [type]="'mp3'" [title]="'file-name'" [spinner]="true"></tc-file>
  <tc-file [type]="'mp4'" [title]="'file-name'" [spinner]="true"></tc-file>
</tc-card>
