<div class="row">
  <div class="col-xl-6">
    <tc-card title="Column chart">
      <div id="amchart-1" [style.width.%]="100" [style.height.px]="400"></div>
    </tc-card>
  </div>
  <div class="col-xl-6">
    <tc-card title="Lines chart">
      <div id="amchart-2" [style.width.%]="100" [style.height.px]="400"></div>
    </tc-card>
  </div>

  <div class="col-xl-6">
    <tc-card title="Column and line chart">
      <div id="amchart-3" [style.width.%]="100" [style.height.px]="400"></div>
    </tc-card>
  </div>
  <div class="col-xl-6">
    <tc-card title="Pie chart">
      <div id="amchart-4" [style.width.%]="100" [style.height.px]="400"></div>
    </tc-card>
  </div>

  <div class="col-xl-6">
    <tc-card title="Donut chart">
      <div id="amchart-5" [style.width.%]="100" [style.height.px]="400"></div>
    </tc-card>
  </div>
  <div class="col-xl-6">
    <tc-card title="Radar chart">
      <div id="amchart-6" [style.width.%]="100" [style.height.px]="400"></div>
    </tc-card>
  </div>

  <div class="col-xl-6">
    <tc-card title="CSS animations chart" class="mb-xl-0">
      <div id="amchart-7" [style.width.%]="100" [style.height.px]="400"></div>
    </tc-card>
  </div>
  <div class="col-xl-6">
    <tc-card title="Bubble chart" class="mb-0">
      <div id="amchart-8" [style.width.%]="100" [style.height.px]="400"></div>
    </tc-card>
  </div>
</div>
