<h1 mat-dialog-title>Hi {{ data.name }}</h1>
<div mat-dialog-content>
  <p class="mb-0">What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal" placeholder="Type...">
  </mat-form-field>
</div>

<div mat-dialog-actions class="pb-3 justify-content-between">
  <button mat-raised-button color="warn" (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
