<tc-card [title]="'Basic'">
  <ol class="pl-3">
    <li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="What's your name?">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button color="primary" (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal" class="mt-4">
      You chose: <i>{{ animal }}</i>
    </li>
  </ol>
</tc-card>

<tc-card [title]="'With header, scrollable content and actions'" class="mb-0">
  <button mat-raised-button color="primary" (click)="openDialog2()">Open dialog</button>
</tc-card>
