<tc-card [title]="'Basic'">
  <mat-slider></mat-slider>
</tc-card>

<tc-card [title]="'Orientation'">
  <h5 class="mt-0">Horizontal</h5>
  <mat-slider></mat-slider>

  <h5>Vertical</h5>
  <mat-slider vertical></mat-slider>

  <h5>Invert</h5>
  <mat-slider invert></mat-slider>
</tc-card>

<tc-card [title]="'Thumb label'">
  <mat-slider thumbLabel tickInterval="1"></mat-slider>
</tc-card>

<tc-card [title]="'Formatting the thumb label'">
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1000"
    min="1"
    max="100000"
  ></mat-slider>
</tc-card>

<tc-card [title]="'Tick marks'">
  <mat-slider step="4" tickInterval="3"></mat-slider>
</tc-card>

<tc-card [title]="'Configurable'" class="mb-0">
  <h5 class="mt-0">Slider configuration</h5>

  <section class="mb-2">
    <mat-form-field>
      <input matInput type="number" placeholder="Value" [(ngModel)]="value">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Min value" [(ngModel)]="min">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Max value" [(ngModel)]="max">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Step size" [(ngModel)]="step">
    </mat-form-field>
  </section>

  <section class="mb-2">
    <div class="row">
      <div class="col col-auto">
        <mat-checkbox [(ngModel)]="showTicks">Show ticks</mat-checkbox>
      </div>
      <div class="col col-auto">
        <mat-checkbox [(ngModel)]="autoTicks" *ngIf="showTicks">
          Auto ticks
        </mat-checkbox>
      </div>
    </div>

    <mat-form-field *ngIf="showTicks && !autoTicks" class="mt-3">
      <input matInput type="number" placeholder="Tick interval" [(ngModel)]="tickInterval">
    </mat-form-field>
  </section>

  <section class="mb-2">
    <mat-checkbox [(ngModel)]="thumbLabel">Show thumb label</mat-checkbox>
  </section>

  <section class="mb-2">
    <mat-checkbox [(ngModel)]="vertical">Vertical</mat-checkbox>
  </section>

  <section class="mb-2">
    <mat-checkbox [(ngModel)]="invert">Inverted</mat-checkbox>
  </section>

  <section class="mb-2">
    <mat-checkbox [(ngModel)]="disabled">Disabled</mat-checkbox>
  </section>

  <h5>Result</h5>

  <mat-slider
    [disabled]="disabled"
    [invert]="invert"
    [max]="max"
    [min]="min"
    [step]="step"
    [thumbLabel]="thumbLabel"
    [tickInterval]="tickInterval"
    [(ngModel)]="value"
    [vertical]="vertical"
  ></mat-slider>
</tc-card>
