<h2 mat-dialog-title>NexgenecEqptLogger Detail</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          
          <mat-form-field>
            <input matInput placeholder="section_id" formControlName="section_id" id="section_id">
            <mat-error *ngIf="hasError('section_id', 'required')">[section_id] is required</mat-error>
            <mat-error *ngIf="hasError('section_id', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
         
          <mat-form-field>
            <input matInput placeholder="key" formControlName="key" id="key">
            <mat-error *ngIf="hasError('key', 'required')">[key] is required</mat-error>
            <mat-error *ngIf="hasError('key', 'maxlength')">You have more than [30] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="value" formControlName="value" id="value">
            <mat-error *ngIf="hasError('value', 'required')">[value] is required</mat-error>
            <mat-error *ngIf="hasError('value', 'maxlength')">You have more than [256] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="commented" formControlName="commented" id="commented">
            <mat-error *ngIf="hasError('commented', 'maxlength')">You have more than [10] characters</mat-error>
          </mat-form-field>

          
        </div>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Save</button>
</mat-dialog-actions>
