<tc-card [title]="'Basic'">
  <div class="demo-list">
    <mat-icon>home</mat-icon>
    <mat-icon>face</mat-icon>
    <mat-icon>android</mat-icon>
    <mat-icon>bug_report</mat-icon>
    <mat-icon>motorcycle</mat-icon>
    <mat-icon>forum</mat-icon>
    <mat-icon>watch</mat-icon>
    <mat-icon>notifications_active</mat-icon>
  </div>
</tc-card>

<tc-card [title]="'Theming'">
  <div class="demo-list">
    <mat-icon [color]="'primary'">home</mat-icon>
    <mat-icon [color]="'primary'">face</mat-icon>
    <mat-icon [color]="'accent'">android</mat-icon>
    <mat-icon [color]="'accent'">bug_report</mat-icon>
    <mat-icon [color]="'accent'">motorcycle</mat-icon>
    <mat-icon [color]="'warn'">forum</mat-icon>
    <mat-icon [color]="'warn'">watch</mat-icon>
    <mat-icon [color]="'warn'">notifications_active</mat-icon>
  </div>
</tc-card>

<tc-card [title]="'Inline'">
  <div class="demo-list">
    <mat-icon [inline]="true">home</mat-icon>
    <mat-icon [inline]="true">face</mat-icon>
    <mat-icon [inline]="true">android</mat-icon>
    <mat-icon [inline]="true">bug_report</mat-icon>
    <mat-icon [inline]="true">motorcycle</mat-icon>
    <mat-icon [inline]="true">forum</mat-icon>
    <mat-icon [inline]="true">watch</mat-icon>
    <mat-icon [inline]="true">notifications_active</mat-icon>
  </div>
</tc-card>

<tc-card [title]="'Size'" class="mb-0">
  <div class="demo-list">
    <mat-icon [tcFontSize]="10">home</mat-icon>
    <mat-icon [tcFontSize]="14">face</mat-icon>
    <mat-icon [tcFontSize]="18">android</mat-icon>
    <mat-icon [tcFontSize]="22">bug_report</mat-icon>
    <mat-icon [tcFontSize]="26">motorcycle</mat-icon>
    <mat-icon [tcFontSize]="30">forum</mat-icon>
    <mat-icon [tcFontSize]="34">watch</mat-icon>
    <mat-icon [tcFontSize]="38">notifications_active</mat-icon>
  </div>
</tc-card>
