<tc-card [title]="'Please input your ID and password'" [align]="'center'">
  <form>
    <mat-form-field>
      <input matInput #username placeholder="ID" value="">
    </mat-form-field>

    <mat-form-field>
      <input matInput #password placeholder="Password" [type]="hide ?'password':'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <div *ngIf="mensagem">
      <span class="btn btn-danger">{{mensagem}}</span>
    </div>
    <button tc-button [view]="'accent'" [block]="true" (click)="login(username.value, password.value)">Sign In</button>

  </form>
</tc-card>
