<div class="row">
  <div class="col-12">
    <tc-card [title]="'Simple'">
      <tc-dropdown>
        <tc-dropdown-button>
          <button [afterIcon]="'sli-arrow-down'" tc-button>Basic</button>
        </tc-dropdown-button>

        <tc-dropdown-content>
          <ul class="menu-list">
            <li>
              <a href="#">
                <span class="icon sli-puzzle"></span>
                <div class="content">
                  <span class="desc">This is a new message.</span>
                  <span class="date">10 minutes ago</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon sli-playlist"></span>
                <div class="content">
                  <span class="desc">Your site visits have increased.</span>
                  <span class="date">23 minutes ago</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon sli-globe"></span>
                <div class="content">
                  <span class="desc">Server loaded by 98%.</span>
                  <span class="date">25 minutes ago</span>
                </div>
              </a>
            </li>
          </ul>
        </tc-dropdown-content>
      </tc-dropdown>
    </tc-card>
  </div>

  <div class="col-12">
    <tc-card [title]="'Animations'">
      <div class="demo-list">
        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [outline]="true" tc-button>Fade</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'left'" [animation]="'fade'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [outline]="true" tc-button>Fade In Up</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'left'" [animation]="'fadeInUp'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [outline]="true" tc-button>Fade In Down</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'right'" [animation]="'fadeInDown'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <button [align]="'left'" [afterIcon]="'sli-arrow-down'" [outline]="true" tc-button>Fade In Left</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'left'" [animation]="'fadeInLeft'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [outline]="true" tc-button>Fade In Right</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'right'" [animation]="'fadeInRight'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [outline]="true" tc-button>Zoom</button>
          </tc-dropdown-button>
          <tc-dropdown-content [align]="'right'" [animation]="'zoom'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>
      </div>
    </tc-card>
  </div>

  <div class="col-12">
    <tc-card [title]="'Content offset'">
      <div class="demo-list">
        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [outline]="true" tc-button>With offsets</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'left'" [animation]="'fade'" [offset]="[10, 0]">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [outline]="true" tc-button>With offsets</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'left'" [animation]="'fade'" [offset]="[20, 0]">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [outline]="true" tc-button>With offset</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'left'" [animation]="'fadeInUp'" [offset]="[15, -35]">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>
      </div>
    </tc-card>
  </div>

  <div class="col-12">
    <tc-card [title]="'Content alignment'">
      <div class="demo-list">
        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [view]="'error'" tc-button>Left alignment</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'left'" [animation]="'fade'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [view]="'info'" tc-button>Right alignment</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'right'" [animation]="'fade'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6 col-12">
    <tc-card [title]="'Overlay'" class="mb-md-0">
      <div class="demo-list">
        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [outline]="true" tc-button>With overlay</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'left'" [animation]="'fade'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [outline]="true" tc-button>Without overlay</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'left'" [overlay]="false" [animation]="'fadeInUp'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6 col-12">
    <tc-card [title]="'Custom buttons'" class="mb-0">
      <div class="demo-list">

        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [outline]="true" [view]="'success'" tc-button>Success</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'left'" [animation]="'fade'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <button [afterIcon]="'sli-arrow-down'" [view]="'warning'" [outline]="true" tc-button>Warning</button>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'left'" [animation]="'fadeInUp'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <img src="assets/content/avatar-1.jpg" height="40" width="40" [tcShape]="'50%'">
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'right'" [animation]="'fade'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>

        <tc-dropdown>
          <tc-dropdown-button>
            <tc-icon [iconClass]="'sli-handbag'" [tcFontSize]="20" [tcColor]="['#302d2d', '#e24d4d']" class="marker bg-red"></tc-icon>
          </tc-dropdown-button>

          <tc-dropdown-content [align]="'right'" [overlay]="false" [animation]="'fadeInUp'">
            <ul class="menu-list">
              <li>
                <a href="#">
                  <span class="icon sli-puzzle"></span>
                  <div class="content">
                    <span class="desc">This is a new message.</span>
                    <span class="date">10 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-playlist"></span>
                  <div class="content">
                    <span class="desc">Your site visits have increased.</span>
                    <span class="date">23 minutes ago</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon sli-globe"></span>
                  <div class="content">
                    <span class="desc">Server loaded by 98%.</span>
                    <span class="date">25 minutes ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </tc-dropdown-content>
        </tc-dropdown>
      </div>
    </tc-card>
  </div>
</div>
