<tc-card [title]="'Basic'">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
</tc-card>

<tc-card [title]="'Label position'">
  <mat-radio-group [labelPosition]="'before'">
    <mat-radio-button value="1" [checked]="true">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
</tc-card>

<tc-card [title]="'Radios with ngModel'" class="mb-0">
  <div>
    <label id="example-radio-group-label">Pick your favorite season</label>
  </div>
  <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="favoriteSeason">
    <mat-radio-button *ngFor="let season of seasons" [value]="season">
      {{ season }}
    </mat-radio-button>
  </mat-radio-group>
  <div>Your favorite season is: <strong>{{ favoriteSeason }}</strong></div>
</tc-card>
