@import '../../../assets/scss/variables';

:host {
  display: block;
  overflow-x: auto;

  ::ng-deep .tc-card {
    margin: 0;
    min-width: 600px;

    .card-content {
      padding: 0 !important;
    }
  }
  ::ng-deep .cal-month-view {
    display: block;

    .cal-day-badge {
      background: #dc143c;
    }
    .cal-days {
      border-left: 0;
      border-right: 0;
    }
    .cal-open-day-events {
      background: main-palette(300);
      box-shadow: none;

      .cal-event-action {
        color: rgba(#fff,.5);
        display: inline-block;
        font-size: 16px;
        margin: 0 2px;
        vertical-align: top;
        
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
