:host {
  display: table-cell;
  height: 100%;
  width: 100%;

  ::ng-deep .tc-card {
    height: 100%;
    min-height: 400px;
    padding: 0;

    .card-content {
      border: 0 !important;
      height: 100%;
      padding: 0 !important;
    }
  }
  .sebm-google-map-container {
    height: 100%;
  }
}
