<tc-card [title]="'Basic'">
  <mat-spinner></mat-spinner>
</tc-card>

<tc-card [title]="'Mode'">
  <div class="demo-list">
    <mat-progress-spinner mode="indeterminate" [value]="70"></mat-progress-spinner>
    <mat-progress-spinner mode="determinate" [value]="70"></mat-progress-spinner>
  </div>
</tc-card>

<tc-card [title]="'Diameter'">
  <div class="demo-list">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    <mat-progress-spinner mode="indeterminate" diameter="100"></mat-progress-spinner>
    <mat-progress-spinner mode="indeterminate" diameter="150"></mat-progress-spinner>
  </div>
</tc-card>

<tc-card [title]="'Stroke width'">
  <div class="demo-list">
    <mat-progress-spinner mode="indeterminate" strokeWidth="2"></mat-progress-spinner>
    <mat-progress-spinner mode="indeterminate" strokeWidth="10"></mat-progress-spinner>
    <mat-progress-spinner mode="indeterminate" strokeWidth="20"></mat-progress-spinner>
  </div>
</tc-card>

<tc-card [title]="'Theming'" class="mb-0">
  <div class="demo-list">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
  </div>
</tc-card>
