<button class="no-style open-navbar" (click)="openNavbar()">
  <i class="icon sli-settings"></i>
</button>

<div class="navbar-wrap" *ngIf="settingsForm">
  <div class="navbar-header">
    {{ title }}
  </div>

  <form class="navbar-content" [formGroup]="settingsForm" novalidate>
    <div class="settings-box">
      <h5 class="mt-0">Site settings</h5>
      <mat-form-field>
        <mat-label>Select Site</mat-label>
        <mat-select formControlName="siteId">
          <mat-option *ngFor="let style of siteSettings" [value]="style.value">
            {{ style.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h5 class="mt-0">Enviroment settings</h5>
      <mat-form-field>
        <mat-label>Select Enviroment</mat-label>
        <mat-select formControlName="operationId">
          <mat-option *ngFor="let style of operationSettings" [value]="style.value">
            {{ style.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div><!-- .settings-box -->
  </form>
</div>
