@import '../../../../assets/scss/variables';

:host {
  background: $navbar-bg;
  box-shadow: $shadow;
  color: $navbar-color;
  display: block;
  height: $navbar-height;
  transition: transform .2s $animation;
  will-change: transform;

  .navbar-wrap {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    padding: 0 $module-rem;
    @media #{$max991} {
      flex-wrap: wrap;
    }

    ::ng-deep {
      > * {
        margin: 0 $module-rem;
      }
      .navbar-button {
        cursor: pointer;
        display: none;
        height: 24px;
        position: relative;
        transform: rotate(0deg);
        width: 30px;
        @media #{$max991} {
          display: block;
        }

        span {
          background: $navbar-color;
          display: block;
          height: 3px;
          opacity: 1;
          position: absolute;
          transform: rotate(0deg);
          transition: .25s $animation;
          width: 50%;

          &:nth-child(even) {
            left: 50%;
          }
          &:nth-child(odd) {
            left: 0px;
          }
          &:nth-child(1),
          &:nth-child(2) {
            top: 0px;
          }
          &:nth-child(3),
          &:nth-child(4) {
            top: 10px;
          }
          &:nth-child(5),
          &:nth-child(6) {
            top: 20px;
          }
        }
        &.open {
          span {
            &:nth-child(1),
            &:nth-child(6) {
              transform: rotate(45deg);
            }
            &:nth-child(2),
            &:nth-child(5) {
              transform: rotate(-45deg);
            }
            &:nth-child(1) {
              left: 3px;
              top: 6px;
            }
            &:nth-child(2) {
              left: calc(50% - 3px);
              top: 6px;
            }
            &:nth-child(3) {
              left: -50%;
              opacity: 0;
            }
            &:nth-child(4) {
              left: 100%;
              opacity: 0;
            }
            &:nth-child(5) {
              left: 3px;
              top: 15px;
            }
            &:nth-child(6) {
              left: calc(50% - 3px);
              top: 15px;
            }
          }
        }
      }
      .page-title {
        font-size: 1.6rem;
        font-weight: normal;
        line-height: 1;
        padding: .2rem 0 0;
        width: 100%;
        @media #{$max991} {
          display: none;
        }
      }
    }
  }
}
