<div class="row">
  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [view]="'error'" class="info-card">
      <div class="title text-uppercase">Orders</div>
      <div class="count">2,145</div>
      <div class="d-flex align-items-end">
        <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+17%</tc-badge>
        <small class="ml-1 mr-1 text-nowrap text-truncate">from previous period</small>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [view]="'warning'" class="info-card">
      <div class="title text-uppercase">Revenue</div>
      <div class="count">$ 50,24</div>
      <small>11750</small>
      <mat-icon>equalizer</mat-icon>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [view]="'info'" class="info-card">
      <div class="title text-uppercase">Products</div>
      <div class="count">2,543</div>
      <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+210</tc-badge>
      <mat-icon>monetization_on</mat-icon>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [view]="'success'" class="info-card">
      <div class="title text-uppercase">Sold</div>
      <div class="count">1,005</div>
      <tc-badge [tcColor]="'#fff'" [tcBorderColor]="'#fff'" [tcBgColor]="'rgba(255,255,255,0.3)'" [tcShape]="0">+24%</tc-badge>
      <mat-icon>donut_large</mat-icon>
    </tc-card>
  </div>
</div>

<div class="row">
  <div class="col col-12 col-md-6 mb-4">
    <tc-card [title]="'About admin'" class="mb-0 h-100">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolor ducimus est excepturi illo itaque
        modi quis repudiandae totam vitae. Accusamus beatae consectetur dolorum pariatur sapiente. Ad architecto at aut
        et ex facilis fuga, laboriosam, magnam modi obcaecati officia officiis, omnis praesentium quam quas reiciendis
        rerum ullam velit veritatis vitae.</p>

      <div class="row">
        <div class="col col-12 col-md-6">
          <p class="mb-1">Wordpress</p>
          <mat-progress-bar mode="determinate" [value]="90" class="mb-3"></mat-progress-bar>

          <p class="mb-1">Magento</p>
          <mat-progress-bar mode="determinate" [value]="80" class="mb-3"></mat-progress-bar>

          <p class="mb-1">Opencart</p>
          <mat-progress-bar mode="determinate" [value]="60" class="mb-3"></mat-progress-bar>

          <p class="mb-1">Drupal</p>
          <mat-progress-bar mode="determinate" [value]="30" class="mb-3"></mat-progress-bar>
        </div>

        <div class="col col-12 col-md-6">
          <p class="mb-1">Angular</p>
          <mat-progress-bar mode="determinate" color="accent" [value]="98" class="mb-3"></mat-progress-bar>

          <p class="mb-1">React</p>
          <mat-progress-bar mode="determinate" color="accent" [value]="85" class="mb-3"></mat-progress-bar>

          <p class="mb-1">Vue.js</p>
          <mat-progress-bar mode="determinate" color="accent" [value]="40" class="mb-3"></mat-progress-bar>

          <p class="mb-1">Backbone.js</p>
          <mat-progress-bar mode="determinate" color="accent" [value]="38" class="mb-3"></mat-progress-bar>
        </div>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cumque dicta earum, iure maiores neque
        nesciunt officia quisquam ullam.</p>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 mb-4">
    <tc-card title="Audience Overview" class="mb-0 h-100">
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"></canvas>
    </tc-card>
  </div>
</div>

<div class="text-center">
  <h4 class="mb-2">Meet the Team</h4>
  <p class="mb-4" [tcColor]="'#686868'">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, eum.</p>
</div>

<div class="row">
  <div class="col-md-6 col-xl-3">
    <tc-card [align]="'center'" class="mb-xl-0">
      <img src="assets/content/person-4.jpg" class="circle" width="150" height="150" alt="">
      <h5>Mark Wahlberg</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto corporis culpa eaque earum eius
        eligendi et eveniet ex fuga natus nulla quisquam quod repellat.</p>
    </tc-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <tc-card [align]="'center'" class="mb-xl-0">
      <img src="assets/content/person-1.jpg" class="circle" width="150" height="150" alt="">
      <h5>Lindsay Lohan</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto corporis culpa eaque earum eius
        eligendi et eveniet ex fuga natus nulla quisquam quod repellat.</p>
    </tc-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <tc-card [align]="'center'" class="mb-md-0">
      <img src="assets/content/person-3.jpg" class="circle" width="150" height="150" alt="">
      <h5>Mary Jane</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto corporis culpa eaque earum eius
        eligendi et eveniet ex fuga natus nulla quisquam quod repellat.</p>
    </tc-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <tc-card [align]="'center'" class="mb-0">
      <img src="assets/content/person-5.jpg" class="circle" width="150" height="150" alt="">
      <h5>Tom Brady</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto corporis culpa eaque earum eius
        eligendi et eveniet ex fuga natus nulla quisquam quod repellat.</p>
    </tc-card>
  </div>
</div>
