<div class="row">
  <div class="col col-12 col-md-6">
    <tc-card [title]="'Reactive form'">
      <form [formGroup]="form" novalidate>
        <mat-form-field>
          <input matInput placeholder="Type your first name" formControlName="firstName">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Type your last name" formControlName="lastName">
        </mat-form-field>

        <button tc-button [view]="'warning'">Send form</button>
      </form>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6">
    <tc-card [title]="'Template form'">
      <form>
        <mat-form-field>
          <input matInput placeholder="Type your first name" ngModel #firstName [name]="firstName">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Type your last name" ngModel #lastName [name]="lastName">
        </mat-form-field>

        <button tc-button [block]="true" [view]="'accent'">
          Send form
        </button>
      </form>
    </tc-card>
  </div>
</div>

<tc-card [title]="'Basic form layout'">
  <mat-form-field>
    <input matInput placeholder="Email address" type="email" value="">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" type="password" value="">
  </mat-form-field>

  <button tc-button [view]="'accent'">Submit</button>
</tc-card>

<tc-card [title]="'Inline form layout'">
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-3 col-md-2 col-form-label mb-0">Email</label>
    <div class="col-sm-9 col-md-10">
      <mat-form-field class="mb-2">
        <input matInput id="inputEmail" placeholder="Enter email" type="email" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPass" class="col-sm-3 col-md-2 col-form-label mb-0">Password</label>
    <div class="col-sm-9 col-md-10">
      <mat-form-field class="mb-2">
        <input matInput id="inputPass" placeholder="Enter password" type="password" value="">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-md-2"></div>
    <div class="col-sm-9 col-md-10">
      <button tc-button [view]="'accent'">Submit</button>
    </div>
  </div>
</tc-card>

<tc-card [title]="'Grid form'" class="mb-0">
  <div class="row">
    <div class="col-md-3">
      <mat-form-field>
        <input matInput placeholder="Col 3" type="text" value="">
      </mat-form-field>
    </div>
    <div class="col-md-9">
      <mat-form-field>
        <input matInput placeholder="Col 9" type="text" value="">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input matInput placeholder="Col 6" type="text" value="">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input matInput placeholder="Col 6" type="text" value="">
      </mat-form-field>
    </div>
    <div class="col-md-9">
      <mat-form-field>
        <input matInput placeholder="Col 9" type="text" value="">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <input matInput placeholder="Col 3" type="text" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput placeholder="Col 4" type="text" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput placeholder="Col 4" type="text" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput placeholder="Col 4" type="text" value="">
      </mat-form-field>
    </div>
  </div>
</tc-card>
