<div class="row">
  <div class="col-lg-3">
    <tc-card [title]="'Simple'">
      <div class="demo-list">
        <tc-badge>128</tc-badge>
        <tc-badge>5</tc-badge>
        <tc-badge>Badge</tc-badge>
      </div>
    </tc-card>
  </div>

  <div class="col-lg-3">
    <tc-card [title]="'Colored'">
      <div class="demo-list">
        <tc-badge>128</tc-badge>
        <tc-badge [view]="'success'">5</tc-badge>
        <tc-badge [view]="'info'">1554</tc-badge>
        <tc-badge [view]="'warning'">29</tc-badge>
        <tc-badge [view]="'error'">87</tc-badge>
        <tc-badge [tcBgColor]="'#9B479F'" [tcBorderColor]="'#9B479F'">Badge</tc-badge>
      </div>
    </tc-card>
  </div>

  <div class="col-lg-3">
    <tc-card [title]="'Outline'">
      <div class="demo-list">
        <tc-badge [outline]="true">128</tc-badge>
        <tc-badge [view]="'success'" [outline]="true">5</tc-badge>
        <tc-badge [view]="'info'" [outline]="true">1554</tc-badge>
        <tc-badge [view]="'warning'" [outline]="true">29</tc-badge>
        <tc-badge [view]="'error'" [outline]="true">87</tc-badge>
        <tc-badge [tcBgColor]="'#9B479F'" [outline]="true">Badge</tc-badge>
      </div>
    </tc-card>
  </div>

  <div class="col-lg-3">
    <tc-card [title]="'Shape'">
      <div class="demo-list">
        <tc-badge [tcShape]="0">128</tc-badge>
        <tc-badge [view]="'success'" [tcShape]="2">5</tc-badge>
        <tc-badge [view]="'info'" [tcShape]="3">1554</tc-badge>
        <tc-badge [view]="'warning'" [tcShape]="5">29</tc-badge>
        <tc-badge [view]="'error'" [tcShape]="8">87</tc-badge>
        <tc-badge [tcBgColor]="'#9B479F'" [tcBorderColor]="'#9B479F'">Badge</tc-badge>
      </div>
    </tc-card>
  </div>

  <div class="col-lg-6">
    <tc-card [title]="'With arrows'">
      <div class="demo-list">
        <tc-badge [arrow]="'top'" [tcShape]="false">128</tc-badge>
        <tc-badge [view]="'success'" [tcShape]="false" [arrow]="'right'">5</tc-badge>
        <tc-badge [view]="'info'" [tcShape]="false" [arrow]="'bottom'">154</tc-badge>
        <tc-badge [view]="'warning'" [tcShape]="false" [arrow]="'left'">29</tc-badge>
        <tc-badge [view]="'error'" [arrow]="'top'">87</tc-badge>
        <tc-badge [tcBgColor]="'#9B479F'" [tcBorderColor]="'#9B479F'" [arrow]="'right'">55</tc-badge>
        <tc-badge [view]="'success'" [arrow]="'bottom'">588</tc-badge>
        <tc-badge [view]="'info'" [arrow]="'left'">154</tc-badge>
        <tc-badge [arrow]="'top'" [tcShape]="0" [outline]="true">128</tc-badge>
        <tc-badge [view]="'success'" [tcShape]="0" [arrow]="'right'" [outline]="true">5</tc-badge>
        <tc-badge [view]="'info'" [tcShape]="0" [arrow]="'bottom'" [outline]="true">154</tc-badge>
        <tc-badge [view]="'warning'" [tcShape]="0" [arrow]="'left'" [outline]="true">29</tc-badge>
      </div>
    </tc-card>
  </div>

  <div class="col-lg-6">
    <tc-card [title]="'Size'">
      <div class="demo-list">
        <tc-badge [view]="'warning'" [size]="'lg'">Large</tc-badge>
        <tc-badge [view]="'error'">Default</tc-badge>
        <tc-badge [view]="'info'" [size]="'sm'">Small</tc-badge>
        <tc-badge [view]="'success'" [size]="'xs'">Extra small</tc-badge>
      </div>
    </tc-card>
  </div>

  <div class="col-lg-6">
    <tc-card [title]="'On button'" class="mb-lg-0">
      <div class="demo-list">
        <button tc-button [outline]="true">
          Default <tc-badge [size]="'sm'" class="ml-1">128</tc-badge>
        </button>
        <button tc-button [outline]="true" [view]="'error'">
          <tc-badge [view]="'error'" class="mr-1">87</tc-badge> Warning
        </button>
        <button tc-button [view]="'accent'">
          <tc-badge [view]="'info'" [tcColor]="'#fff'" [outline]="true" class="mr-1">1554</tc-badge> Accent
        </button>
      </div>
    </tc-card>
  </div>

  <div class="col-lg-6">
    <tc-card [title]="'With icon'" class="mb-0">
      <div class="demo-list">
        <mat-icon>mail_outline<tc-badge>5</tc-badge></mat-icon>
        <mat-icon>shopping_cart<tc-badge [view]="'error'" [position]="'top-left'">1</tc-badge></mat-icon>
        <mat-icon>notifications_none<tc-badge [view]="'info'" [position]="'bottom-left'">8</tc-badge></mat-icon>
        <mat-icon>local_phone<tc-badge [view]="'warning'" [position]="'bottom-right'">3</tc-badge></mat-icon>
        <mat-icon>person<tc-badge [tcBgColor]="'#9B479F'" [tcBorderColor]="'#9B479F'">15</tc-badge></mat-icon>
        <mat-icon>notifications<tc-badge [view]="'error'">813</tc-badge></mat-icon>
        <mat-icon>desktop_mac<tc-badge [view]="'error'">7</tc-badge></mat-icon>
        <mat-icon>alarm<tc-badge [view]="'success'">new</tc-badge></mat-icon>
        <mat-icon>home<tc-badge [view]="'error'" [outline]="true">1</tc-badge></mat-icon>
        <mat-icon>visibility<tc-badge [view]="'info'">9</tc-badge></mat-icon>
      </div>
    </tc-card>
  </div>
</div>
