<div class="row">
  <div class="col-md-6">
    <tc-card [title]="'Size'">
      <div class="demo-list">
        <button tc-button [size]="'lg'">Large</button>
        <button tc-button>Default</button>
        <button tc-button [size]="'sm'">Small</button>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6">
    <tc-card [title]="'Shape'">
      <div class="demo-list">
        <button tc-button>Default</button>
        <button tc-button [tcShape]="0">Square</button>
        <button tc-button [tcShape]="500">Rounded</button>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6">
    <tc-card [title]="'Width'">
      <div class="demo-list">
        <button tc-button [ngStyle]="{ 'width': '50%' }">50% width button</button>
        <button tc-button [block]="true">Block button</button>
        <button tc-button>Default button</button>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6">
    <tc-card [title]="'Align'">
      <div class="demo-list">
        <button tc-button [block]="true" [align]="'left'">Left</button>
        <button tc-button [block]="true">Center</button>
        <button tc-button [block]="true" [align]="'right'">Right</button>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6">
    <tc-card [title]="'Style'">
      <div class="demo-list">
        <button tc-button>Default</button>
        <button tc-button [view]="'accent'">Accent</button>
        <button tc-button [view]="'success'">Success</button>
        <button tc-button [view]="'info'">Info</button>
        <button tc-button [view]="'warning'">Warning</button>
        <button tc-button [view]="'error'">Error</button>
        <button tc-button [tcBgColor]="'#e91e63'">Pink</button>
        <button tc-button [tcBgColor]="'#9c27b0'">Purple</button>
        <button tc-button [tcBgColor]="'#3f51b5'">Indigo</button>
        <button tc-button [tcBgColor]="'#00bcd4'">Cyan</button>
        <button tc-button [tcBgColor]="'#009688'">Teal</button>
        <button tc-button [tcBgColor]="'#cddc39'">Lime</button>
        <button tc-button [tcBgColor]="'#ffc107'">Amber</button>
        <button tc-button [tcBgColor]="'#795548'">Brown</button>
        <button tc-button [tcBgColor]="'#9e9e9e'">Grey</button>
        <button tc-button [tcColor]="'#e91e63'">Pink</button>
        <button tc-button [tcColor]="'#9c27b0'">Purple</button>
        <button tc-button [tcColor]="'#3f51b5'">Indigo</button>
        <button tc-button [tcColor]="'#00bcd4'">Cyan</button>
        <button tc-button [tcColor]="'#009688'">Teal</button>
        <button tc-button [tcColor]="'#cddc39'">Lime</button>
        <button tc-button [tcColor]="'#ffc107'">Amber</button>
        <button tc-button [tcColor]="'#9e9e9e'">Grey</button>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6">
    <tc-card [title]="'Outline'">
      <div class="demo-list">
        <button tc-button [outline]="true" [view]="'default'">Default</button>
        <button tc-button [outline]="true" [view]="'accent'">Accent</button>
        <button tc-button [outline]="true" [view]="'info'">Info</button>
        <button tc-button [outline]="true" [view]="'warning'">Warning</button>
        <button tc-button [outline]="true" [view]="'success'">Success</button>
        <button tc-button [outline]="true" [view]="'error'">Error</button>
        <button
          tc-button
          [tcColor]="['#e91e63', '#fff']"
          [tcBgColor]="['transparent', '#e91e63']"
          [tcBorderColor]="'#e91e63'"
        >
          Pink
        </button>
        <button
          tc-button
          [tcColor]="['#9c27b0', '#fff']"
          [tcBgColor]="['transparent', '#9c27b0']"
          [tcBorderColor]="'#9c27b0'"
        >
          Purple
        </button>
        <button
          tc-button
          [tcColor]="['#3f51b5', '#fff']"
          [tcBgColor]="['transparent', '#3f51b5']"
          [tcBorderColor]="'#3f51b5'"
        >
          Indigo
        </button>
        <button
          tc-button
          [tcColor]="['#00bcd4', '#fff']"
          [tcBgColor]="['transparent', '#00bcd4']"
          [tcBorderColor]="'#00bcd4'"
        >
          Cyan
        </button>
        <button
          tc-button
          [tcColor]="['#009688', '#fff']"
          [tcBgColor]="['transparent', '#009688']"
          [tcBorderColor]="'#009688'"
        >
          Teal
        </button>
        <button
          tc-button
          [tcColor]="['#cddc39', '#fff']"
          [tcBgColor]="['transparent', '#cddc39']"
          [tcBorderColor]="'#cddc39'"
        >
          Lime
        </button>
        <button
          tc-button
          [tcColor]="['#ffc107', '#fff']"
          [tcBgColor]="['transparent', '#ffc107']"
          [tcBorderColor]="'#ffc107'"
        >
          Amber
        </button>
        <button
          tc-button
          [tcColor]="['#795548', '#fff']"
          [tcBgColor]="['transparent', '#795548']"
          [tcBorderColor]="'#795548'"
        >
          Brown
        </button>
        <button
          tc-button
          [tcColor]="['#9e9e9e', '#fff']"
          [tcBgColor]="['transparent', '#9e9e9e']"
          [tcBorderColor]="'#9e9e9e'"
        >
          Grey
        </button>

        <button
          tc-button
          [tcColor]="['#e91e63', '#fff']"
          [tcBgColor]="['transparent', '#e91e63']"
          [tcBorderStyle]="'dotted'"
          [tcBorderColor]="'#e91e63'"
        >
          Pink
        </button>
        <button
          tc-button
          [tcColor]="['#9c27b0', '#fff']"
          [tcBgColor]="['transparent', '#9c27b0']"
          [tcBorderStyle]="'dashed'"
          [tcBorderColor]="'#9c27b0'"
        >
          Purple
        </button>
        <button
          tc-button
          [tcColor]="['#3f51b5', '#cddc39']"
          [tcBgColor]="'transparent'"
          [tcBorderStyle]="'dashed'"
          [tcBorderColor]="['#3f51b5', '#cddc39']"
        >
          Indigo
        </button>
        <button
          tc-button
          [tcColor]="['#00bcd4', '#fff']"
          [tcBgColor]="['rgba(0,188,212,0.2)', '#00bcd4']"
          [tcBorderColor]="'#00bcd4'"
        >
          Cyan
        </button>
        <button
          tc-button
          [tcColor]="['#009688', '#fff']"
          [tcBgColor]="['rgba(0,150,136,0.2)', '#009688']"
          [tcBorderColor]="'#009688'"
        >
          Teal
        </button>
        <button
          tc-button
          [tcColor]="['#cddc39', '#fff']"
          [tcBgColor]="['rgba(205,220,57,0.2)', '#cddc39']"
          [tcBorderColor]="'#cddc39'"
        >
          Lime
        </button>
        <button
          tc-button
          [tcColor]="['#000', '#fff']"
          [tcBgColor]="['transparent', '#ffc107']"
          [tcBorderColor]="'#ffc107'"
        >
          Amber
        </button>
        <button
          tc-button
          [tcColor]="['#ed5564', '#fdb0b5']"
          [tcBgColor]="['transparent', '#795548']"
          [tcBorderColor]="'#795548'"
        >
          Brown
        </button>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6">
    <tc-card [title]="'Disabled'">
      <div class="demo-list">
        <button tc-button [disabled]="true">Disabled</button>
        <button tc-button [disabled]="true" [tcBgColor]="'#50408e'">Disabled</button>
        <button tc-button [disabled]="true" [view]="'error'">Disabled</button>
        <button tc-button [disabled]="true" [view]="'warning'" [outline]="true">Disabled</button>
        <button tc-button [disabled]="true" [view]="'info'" [outline]="true" [tcBorderStyle]="'dotted'" [tcShape]="500">
          Disabled
        </button>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6">
    <tc-card [title]="'Loader'">
      <div class="demo-list">
        <button tc-button [load]="true">Default</button>
        <button tc-button [view]="'accent'" [load]="true">Accent</button>
        <button tc-button [view]="'info'" [load]="true">Info</button>
        <button tc-button [view]="'warning'" [load]="true">Warning</button>
        <button tc-button [view]="'error'" [load]="true">Error</button>
      </div>
    </tc-card>
  </div>

  <div class="col-12">
    <tc-card [title]="'With icons'" class="mb-0">
      <div class="demo-list">
        <button tc-button [beforeIcon]="'sli-anchor'">Default</button>
        <button tc-button [beforeIcon]="'sli-bell'" [view]="'accent'">Accent</button>
        <button tc-button [beforeIcon]="'sli-basket'" [view]="'success'">Success</button>
        <button tc-button [beforeIcon]="'sli-briefcase'" [view]="'info'">Info</button>
        <button tc-button [beforeIcon]="'sli-cup'" [view]="'warning'">Warning</button>
        <button tc-button [beforeIcon]="'sli-exclamation '" [view]="'error'">Error</button>
        <button tc-button [afterIcon]="'sli-pie-chart'" [tcBgColor]="'#4b650d'">Chart</button>
        <button tc-button [afterIcon]="'sli-eye'" [tcBgColor]="'#3f51b5'">Gear</button>
        <button tc-button [afterIcon]="'sli-home'" [tcBgColor]="'#009688'">Home</button>
        <button tc-button [afterIcon]="'sli-key'" [tcBgColor]="'#cddc39'">Key</button>
        <button tc-button [afterIcon]="'sli-microphone'" [tcBgColor]="'#9e9e9e'">Leaf</button>
        <button tc-button [afterIcon]="'sli-note'" [view]="'success'" [outline]="true"></button>
        <button tc-button [afterIcon]="'sli-pencil'" [tcBgColor]="['#f0f4c3', '#aab71c']" [tcColor]="'#000'">
          Add
        </button>
        <button tc-button [beforeIcon]="'sli-social-dropbox'" [view]="'info'" [outline]="true" [tcBorderStyle]="'dashed'">
          Dropbox
        </button>
        <button tc-button [afterIcon]="'sli-trash'" [iconAnimation]="true" [view]="'error'">Remove</button>
        <button tc-button [afterIcon]="'sli-social-github '" [square]="true" [tcShape]="0" [tcColor]="'#7fb140'" [tcBgColor]="'#262626'"></button>
        <button tc-button [afterIcon]="'sli-social-facebook'" [square]="true" [tcShape]="0" [tcColor]="'#fff'" [tcBgColor]="'#416ab2'"></button>
        <button tc-button [afterIcon]="'sli-social-google'" [square]="true" [tcShape]="'50%'" [tcColor]="'#fff'" [tcBgColor]="'#de5542'"></button>
        <button tc-button [afterIcon]="'sli-social-linkedin'" [square]="true" [tcShape]="'2px'" [tcColor]="'#fff'" [tcBgColor]="'#0079b5'"></button>
        <button tc-button [afterIcon]="'sli-social-soundcloud '" [square]="true" [tcShape]="'50%'" [outline]="true" [tcBorderStyle]="'dotted'"></button>
        <button tc-button [afterIcon]="'sli-tag'" [square]="true" [tcShape]="'50%'" [outline]="true" [tcBorderStyle]="'dashed'"></button>
        <button tc-button [afterIcon]="'sli-volume-1'" [view]="'warning'" [square]="true" [outline]="true"></button>
        <button tc-button [afterIcon]="'sli-volume-2'" [view]="'error'" [square]="true" [outline]="true"></button>
        <button tc-button [afterIcon]="'sli-symbol-male'" [square]="true" [outline]="true"></button>
        <button tc-button [afterIcon]="'sli-settings'" [view]="'accent'" [square]="true" [outline]="true"></button>
        <button tc-button [afterIcon]="'sli-printer'" [view]="'success'" [square]="true" [outline]="true"></button>
        <button tc-button [afterIcon]="'sli-pin'" [view]="'warning'" [square]="true"></button>
        <button tc-button [afterIcon]="'sli-feed'" [view]="'success'" [square]="true"></button>
        <button tc-button [afterIcon]="'sli-heart'" [view]="'error'" [square]="true"></button>
        <button tc-button [afterIcon]="'sli-like'" [view]="'accent'" [square]="true"></button>
        <button tc-button [afterIcon]="'sli-plus'" [view]="'info'" [square]="true"></button>
      </div>
    </tc-card>
  </div>
</div>
