<tc-card [title]="'Left align timeline'" [tcBgColor]="'transparent'">
  <tc-v-timeline [data]="timelineData"></tc-v-timeline>
</tc-card>

<tc-card [title]="'Right align timeline'" [tcBgColor]="'transparent'">
  <tc-v-timeline [align]="'right'" [data]="timelineData"></tc-v-timeline>
</tc-card>

<tc-card [title]="'Center align timeline'" [tcBgColor]="'transparent'">
  <tc-v-timeline [align]="'center'" [data]="timelineData"></tc-v-timeline>
</tc-card>

<tc-card [title]="'Both sides timeline'" [tcBgColor]="'transparent'">
  <tc-v-timeline [align]="'between'" [data]="timelineData"></tc-v-timeline>
</tc-card>

<tc-card [title]="'Timeline without time'" [tcBgColor]="'transparent'">
  <tc-v-timeline [showDate]="false" [align]="'between'" [data]="timelineData"></tc-v-timeline>
</tc-card>

<tc-card [title]="'Timeline with years'" [tcBgColor]="'transparent'" class="mb-0">
  <tc-v-timeline [showYears]="true" [align]="'between'" [data]="timelineData"></tc-v-timeline>
</tc-card>
