<h2 mat-dialog-title>NexgenecEqptUploadSetting Detail</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="conn_type" formControlName="conn_type" id="conn_type">
            <mat-error *ngIf="hasError('conn_type', 'required')">[conn_type] is required</mat-error>
            <mat-error *ngIf="hasError('conn_type', 'maxlength')">You have more than [20] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="conn_ip" formControlName="conn_ip" id="conn_ip">
            <mat-error *ngIf="hasError('conn_ip', 'required')">[conn_ip] is required</mat-error>
            <mat-error *ngIf="hasError('conn_ip', 'maxlength')">You have more than [20] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="conn_port" formControlName="conn_port" id="conn_port">
            <mat-error *ngIf="hasError('conn_port', 'required')">[conn_port] is required</mat-error>
            <mat-error *ngIf="hasError('conn_port', 'maxlength')">You have more than [20] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="conn_username" id="conn_username">
            <mat-error *ngIf="hasError('conn_username', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="conn_password" id="conn_password">
            <mat-error *ngIf="hasError('conn_password', 'maxlength')">You have more than [50] characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="conn_folder" formControlName="conn_folder" id="conn_folder">
            <mat-error *ngIf="hasError('conn_folder', 'required')">[conn_folder] is required</mat-error>
            <mat-error *ngIf="hasError('conn_folder', 'maxlength')">You have more than [20] characters</mat-error>
          </mat-form-field>
        </div>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Save</button>
</mat-dialog-actions>
