<div class="row">
  <div class="col-md-12">
      <a href="/#/vertical/eqptmachinestate/{{eqpt_id}}"><button [size]="'lg'" tc-button [beforeIcon]="'sli-graph'" [square]="true">State Machine</button></a>
      <a href="/#/vertical/equipmentsetting/{{eqpt_id}}"><button [size]="'lg'"  tc-button [beforeIcon]="'sli-wrench'" [square]="true">Setting</button></a>
      <a href="/#/vertical/eqptconfig/{{eqpt_id}}"><button [size]="'lg'" tc-button [beforeIcon]="'sli-settings'" [square]="true">Configuration</button></a>
      <a href="/#/vertical/eqptlogger/{{eqpt_id}}"><button [size]="'lg'" tc-button [beforeIcon]="'sli-book-open'" [square]="true">Logger</button></a>
      <a href="/#/vertical/eqptupload/{{eqpt_id}}"><button [size]="'lg'" [view]="'accent'"   tc-button [beforeIcon]="'sli-cloud-upload'" [square]="true">Deployment</button></a>
  </div>
</div>

<tc-card [title]="'Source File: '+(eqpt_id?eqpt_id:'')">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <input matInput #search_id placeholder="Search" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button mat-raised-button color="primary" (click)="searchSource(search_id.value, '')"><mat-icon>search</mat-icon> Search</button>
      <button mat-raised-button color="warning" (click)="openDialogSource('New', null)"> New</button>
    </div>
</div>
<mat-table #table2 [dataSource]="dataSource2">
    <ng-container matColumnDef="src_desc">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.src_desc }} 
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="src_version">
        <mat-header-cell *matHeaderCellDef>Version</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.src_version }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="src_comment">
        <mat-header-cell *matHeaderCellDef>Comment</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.src_comment }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="uploaded_time">
        <mat-header-cell *matHeaderCellDef>Uploaded Time</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.uploaded_time }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="uploaded_by">
        <mat-header-cell *matHeaderCellDef>Uploaded By</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.uploaded_by }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="approved_time">
        <mat-header-cell *matHeaderCellDef>Approved Time</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ (row?.approved_by && row.approved_by.length>0)?row?.approved_time:'' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="approved_by">
        <mat-header-cell *matHeaderCellDef>Approved By</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ (row?.approved_by && row.approved_by.length>0)?row?.approved_by:'' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="seq_id">
          <mat-header-cell *matHeaderCellDef>Action/Approve</mat-header-cell>
          <mat-cell *matCellDef="let row">
              <button tc-button [afterIcon]="'sli-note'" [view]="'accent'" [square]="true" [outline]="true" [tcShape]="'8%'" (click)="openDialogSource('Update',row)"></button>
              <button tc-button [afterIcon]="'sli-close'" [view]="'error'" [square]="true" [outline]="true" [tcShape]="'8%'" (click)="openDialogSource('Delete',row)"></button>
              <button tc-button [afterIcon]="'sli-cloud-download'" [view]="'accent'" [square]="true" [outline]="true" (click)="download(row)"></button>
              <button tc-button [hidden]="(row.approved_by.length>0)?true:false" [afterIcon]="'sli-check'" class="mat-primary" [square]="true" [outline]="false" [tcShape]="'8%'" (click)="approve(row)"></button>
            </mat-cell>
    </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
</mat-table>

<mat-paginator
  #paginator2
  [length]="database2.data.length"
  [pageIndex]="0"
  [pageSize]="25"
  [pageSizeOptions]="[5, 10, 100]"
></mat-paginator>
</tc-card>



<tc-card [title]="'Remote Connection: '+(eqpt_id?eqpt_id:'')">
  <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="conn_type">
          <mat-header-cell *matHeaderCellDef>Connection Type</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.conn_type }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="conn_ip">
          <mat-header-cell *matHeaderCellDef>Host/IP</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.conn_ip }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="conn_port">
          <mat-header-cell *matHeaderCellDef>Port</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.conn_port }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="conn_folder">
          <mat-header-cell *matHeaderCellDef>Remote Folder</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.conn_folder }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updated_by">
          <mat-header-cell *matHeaderCellDef>By</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.updated_by }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updated_time">
          <mat-header-cell *matHeaderCellDef>UPDATED_TIME</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.updated_time }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="conn_username">
        <mat-header-cell *matHeaderCellDef>UserId</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.conn_username }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="conn_password">
        <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row?.conn_password }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="eqpt_id">
          <mat-header-cell *matHeaderCellDef>Deploy/Edit</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button tc-button [afterIcon]="'sli-power'" class="mat-primary" [square]="true" [outline]="false" (click)="deployment(row)"></button>          
            <button tc-button [afterIcon]="'sli-note'" [view]="'accent'" [square]="true" [outline]="false" (click)="openDialog('Update',row)"></button>
          </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator
    #paginator
    [length]="database.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 200]"
  ></mat-paginator>
</tc-card>