<h2 mat-dialog-title>Upload Source Code</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
  fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="row">
        <div class="col-md-12">
          <input type="file" id="file" (change)="handleFileInput($event.target.files)" accept=".zip,.rar,.7zip">

          <mat-form-field>
            <input matInput placeholder="Comment" formControlName="src_comment" id="src_comment">
            <mat-error *ngIf="hasError('src_comment', 'required')">[Comment] is required</mat-error>
            <mat-error *ngIf="hasError('src_comment', 'maxlength')">You have more than [200] characters</mat-error>
          </mat-form-field>
        </div>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="local_data" 
  [disabled]="!ownerForm.valid"
  cdkFocusInitial (click)="doAction()">Save</button>
</mat-dialog-actions>
