<h2 class="h4 mt-0">Simple line icons</h2>
<div class="demo-list">
  <tc-icon
    *ngFor="let icon of sliIcons"
    [tcColor]="'#000'"
    [tcBgColor]="'#bec0c8'"
    [tcFontSize]="30"
    [iconClass]="icon"
  ></tc-icon>
</div>
