<tc-card [title]="'Basic'">
  <mat-form-field>
    <input matInput placeholder="Message" value="Disco party!" #message>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Action" value="Dance" #action>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="openSnackBar(message.value, action.value)">
    Show snack-bar
  </button>
</tc-card>

<tc-card [title]="'Position'" class="mb-0">
  <div class="demo-list">
    <button mat-raised-button color="primary" (click)="openSnackBarPosition('Snack-bar position', 'start', 'top')">
      Start - top
    </button>

    <button mat-raised-button color="primary" (click)="openSnackBarPosition('Snack-bar position', 'start', 'bottom')">
      Start - bottom
    </button>

    <button mat-raised-button color="primary" (click)="openSnackBarPosition('Snack-bar position', 'center', 'top')">
      Center - top
    </button>

    <button mat-raised-button color="primary" (click)="openSnackBarPosition('Snack-bar position', 'center', 'bottom')">
      Center - bottom
    </button>

    <button mat-raised-button color="primary" (click)="openSnackBarPosition('Snack-bar position', 'end', 'top')">
      End - top
    </button>

    <button mat-raised-button color="primary" (click)="openSnackBarPosition('Snack-bar position', 'end', 'bottom')">
      End - bottom
    </button>
  </div>
</tc-card>
