<div class="row">
  <div class="col-md-12">
      <a href="/#/vertical/eqptmachinestate/{{eqpt_id}}"><button [size]="'lg'" tc-button [beforeIcon]="'sli-graph'" [square]="true">State Machine</button></a>
      <a href="/#/vertical/equipmentsetting/{{eqpt_id}}"><button [size]="'lg'" [view]="'accent'"   tc-button [beforeIcon]="'sli-wrench'" [square]="true">Setting</button></a>
      <a href="/#/vertical/eqptconfig/{{eqpt_id}}"><button [size]="'lg'" tc-button [beforeIcon]="'sli-settings'" [square]="true">Configuration</button></a>
      <a href="/#/vertical/eqptlogger/{{eqpt_id}}"><button [size]="'lg'" tc-button [beforeIcon]="'sli-book-open'" [square]="true">Logger</button></a>
      <a href="/#/vertical/eqptupload/{{eqpt_id}}"><button [size]="'lg'"  tc-button [beforeIcon]="'sli-cloud-upload'" [square]="true">Deployment</button></a>
  </div>
</div>
<tc-card [title]="'Equipment Setting: '+(eqpt_id?eqpt_id:'')">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <input matInput #search_name placeholder="Search Key" value="">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button mat-raised-button color="primary" (click)="search('', search_name.value)"><mat-icon>search</mat-icon> Search</button>
      <button mat-raised-button color="warning" (click)="openDialog('New', null)"> New</button>
    </div>
  </div>
  <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="key">
          <mat-header-cell *matHeaderCellDef>KEY</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.key }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef>VALUE</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.value }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef>DESCRIPTION</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.description }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="seq_id">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button tc-button [afterIcon]="'sli-note'" [view]="'accent'" [square]="true" [outline]="true" [tcShape]="'8%'" (click)="openDialog('Update',row)">Edit</button>
            <button tc-button [afterIcon]="'sli-close'" [view]="'error'" [square]="true" [outline]="true" [tcShape]="'8%'" (click)="openDialog('Delete',row)">Delete</button>
        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator
    #paginator
    [length]="database.data.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
</tc-card>
