@import '../../../../assets/scss/variables';

:host {
  background: main-palette(300);
  display: table-cell;
  height: 100%;
  padding: $module-rem;
  vertical-align: middle;
  width: 100%;

  .tc-card {
    margin: 0 auto;
    max-width: 400px;

    .material-icons {
      color: main-palette(300);
      font-size: 100px;
    }
    .additional-info {
      background: rgba(#000,.1);
      margin: $module-rem * 2 (-($module-rem * 2)) (-($module-rem * 2));
      padding: $module-rem $module-rem * 2;
    }
  }
}
