<tc-card [title]="'Confirm Email'" [align]="'center'">
  <span class="material-icons">mail_outline</span>
  <p class="small">
    An email has been send to username@mail.com. Please check for an email from us and click on the included link to reset your password.
  </p>

  <div class="additional-info">
    <a href="#" [routerLink]="['../', 'sign-in']">Return to Sign in</a>
  </div>
</tc-card>

