<tc-card [title]="'Bar'">
  <div echarts [options]="barOptions" class="chat-container container-h-400"></div>
</tc-card>

<tc-card [title]="'Area'">
  <div echarts [options]="areaOptions" class="chat-container container-h-400"></div>
</tc-card>

<tc-card [title]="'Line'">
  <div echarts [options]="lineOptions" class="chat-container container-h-400"></div>
</tc-card>

<tc-card [title]="'Line with points'">
  <div echarts [options]="line2Options" class="chat-container container-h-400"></div>
</tc-card>

<div class="row">
  <div class="col-12 col-md-6">
    <tc-card [title]="'Pie'" class="mb-md-0">
      <div echarts [options]="pieOptions" class="chat-container container-h-400"></div>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Hole pie'" class="mb-0">
      <div echarts [options]="pie2Options" class="chat-container container-h-400"></div>
    </tc-card>
  </div>
</div>
