<div class="row">
  <div class="col-12 col-md-6">
    <tc-card [title]="'Default'">
      <tc-rating></tc-rating>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'With current value'">
      <tc-rating [value]="4"></tc-rating>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Disabled'">
      <tc-rating [value]="3" [disabled]="true"></tc-rating>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Numbered'">
      <tc-rating [value]="4" [view]="'number'"></tc-rating>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Custom icons'">
      <div class="mb-3">
        <tc-rating [iconClass]="'sli-heart'" [value]="3"></tc-rating>
      </div>

      <div class="mb-3">
        <tc-rating [iconClass]="'sli-bulb'" [value]="4"></tc-rating>
      </div>

      <div>
        <tc-rating [iconClass]="'sli-diamond'" [value]="2"></tc-rating>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Custom items count'">
      <div class="mb-3">
        <tc-rating [iconClass]="'sli-like'" [iconsNumber]="2" [value]="1"></tc-rating>
      </div>

      <div class="mb-3">
        <tc-rating [iconClass]="'sli-fire'" [iconsNumber]="6" [value]="4"></tc-rating>
      </div>

      <div>
        <tc-rating [iconClass]="'sli-drop'" [iconsNumber]="10" [value]="3"></tc-rating>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Custom color'">
      <div class="mb-3">
        <tc-rating
          [value]="3"
          [color]="['#ccc', '#64B5F6', '#336cfb']"
        ></tc-rating>
      </div>

      <div class="mb-3">
        <tc-rating
          [value]="4"
          [color]="['#feb988','#d18132','#52280f']"
        ></tc-rating>
      </div>

      <div>
        <tc-rating
          [value]="3"
          [color]="['#d3dcb2','#a7bb5f','#b7ce63']"
        ></tc-rating>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-6">
    <tc-card [title]="'Custom items size'">
      <div class="mb-3">
        <tc-rating [value]="1" [tcFontSize]="10"></tc-rating>
      </div>

      <div class="mb-3">
        <tc-rating [value]="4"></tc-rating>
      </div>

      <div>
        <tc-rating [value]="3" [tcFontSize]="34"></tc-rating>
      </div>
    </tc-card>
  </div>
</div>

<tc-card [title]="'Forms'" class="mb-0">
  <div class="row">
    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <form [formGroup]="reactiveForm" novalidate>
        <div class="mb-3">
          <label>Reactive form</label>

          <tc-rating formControlName="ratingField"></tc-rating>
        </div>
      </form>

      <mat-form-field>
        <input matInput readonly="true" [(ngModel)]="reactiveForm.value.ratingField">
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <div class="mb-3">
        <label>Template driven form</label>

        <tc-rating #templateForm [ngModel]="8" [iconsNumber]="10"></tc-rating>
      </div>

      <mat-form-field>
        <input matInput readonly="true" [(ngModel)]="templateForm.value">
      </mat-form-field>
    </div>
  </div>
</tc-card>
