<tc-card [title]="'Firebase table'" [padding]="0">
  <div class="table-responsive">
    <table mat-table [dataSource]="sales">
      <!-- No Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element"><span [tcColor]="'#9c9c9c'">#{{ element.no }}</span></td>
      </ng-container>

      <!-- Product Column -->
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"><tc-badge [view]="element.statusType">{{ element.status }}</tc-badge></td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex align-items-center">
            <tc-icon [iconClass]="'sli-check'" [tcColor]="'#81C784'"></tc-icon>${{ element.amount }}
          </div>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="demo-list flex-nowrap align-items-center justify-content-end">
            <button tc-button [afterIcon]="'sli-settings'" [view]="'accent'" [square]="true" [outline]="true" [tcShape]="'50%'"></button>
            <button tc-button [afterIcon]="'sli-printer'" [view]="'success'" [square]="true" [tcShape]="'50%'"></button>
            <button tc-button [afterIcon]="'sli-heart'" [view]="'error'" [square]="true" [tcShape]="'50%'"></button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="salesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: salesColumns;"></tr>
    </table>
  </div>
</tc-card>

<tc-card [title]="'Firebase chart'" class="mb-0">
  <div echarts [options]="browsersOptions" class="chart-container"></div>
</tc-card>
