<div mat-dialog-content>
    {{message}}
</div>
<div mat-dialog-actions>
    <button tc-button [afterIcon]="'sli-check'" [view]="'accent'"  (click)="onYesClick()" cdkFocusInitial>Yes</button>
    &nbsp;
    <button tc-button [afterIcon]="'sli-close'" [view]="'error'"  (click)="onNoClick()">No</button>
</div>